/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
background-color: aquamarine;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
text-align: center;
}


/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {
font-size: small;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
