.nav {
    position: relative;
    display: flex;
    justify-content: space-around;
    max-width: 1024px;
    margin: 0 auto;
    gap: 1rem;
}
.links {
    display: flex;
    gap: 1rem;
}

.toggle {
    position: absolute;
    top: 1.2rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 31px;
    height: 21px;
}

.bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}



@media (max-width: 400px) {
    .toggle {
        display: flex;
    }
    #hidden {
        display: none;
    }

    .nav {
        flex-direction: column;
    }
    .brand h3 {
        margin-left: 1rem;
    }
    .links {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

}