<footer class="footer clearfix txtSize2 flex flexAlignItemsCenter">
    <nav class="flex flexDirectionRow flexBasis100 flexSpaceAround">
        <section class=" flex flexDirectionRow flexBasis25 flexSpaceAround">
        <a class="navLink" href="/">Home</a>
        <a class="navLink" href="/character">Characters</a>
        <a class="navLink" href="/abilities">Abilities</a>
        </section>
        <section class="flex flexDirectionRow flexBasis25 flexSpaceAround">
            <a class="navLink" href="/register">Register</a>
            <a class="navLink" href="/login">Login</a>
            <form action="/logout?_method=DELETE" method="POST">
                <button type="submit">Log Out</button>
            </form>
        </section>
    </nav>
<footer>