<footer class="footer p-10 bg-neutral text-neutral-content" style="display: flex; flex-direction: column;">
  <div>
    
    <p>Copyright © 2022 <a href="https://valerievozza.dev">Valerie Vozza</a><br><a href="https://github.com/valerievozza/pocket">Pocket GitHub Repo</a></p>
  </div> 
  <div>
    <span class="footer-title">Social</span> 
    <div class="grid grid-flow-col gap-4">
      <a href="https://github.com/valerievozza" alt="GitHub"><i class="fa-brands fa-github"></i></a> 
      <a href="https://linkedin.com/in/valerievozza" alt="LinkedIn"><i class="fa-brands fa-linkedin-in"></i></a> 
      <a href="https://twitter.com/valerievozza_"><i class="fa-brands fa-twitter"></i></a>
    </div>
  </div>
</footer>