<!-- Footer -->

<footer class="bg-dark text-white p-4">
    <div class="container-fluid">
        <div class="content d-flex justify-content-between">
            <span>&copy;2022 <a class="link-warning" href="https://www.celiackelly.com/" target="_blank">Celia Kelly</a></span>
            <span>Image by <a href="https://www.rawpixel.com/" class="link-warning" target="_blank">rawpixel.com</a></span>
        </div>
    </div>
</footer>