<header>
    <nav class="navbar navbar-expand-lg bg-info">
        <div class="container-fluid">
          <a class="navbar-brand" href="log">Broadway Log</a>
        </div>
      </nav>
</header>

<div class="main-container bg-gradient p-3 text-bg-dark">