<nav>
        <div class="site_title">

            <a href="/"><h1>Bloog Site | <%= title %></h1></a>
            <p>I made this site so I can share Bloogs with the world!</p>
            <span>(P.S It's NOT a spelling mistake!)</span>
        </div>
        <ul>
            <li><a href="/">All Bloogs</a></li>
            <li><a href="/about">About Bloogs</a></li>
            <li><a href="/blogs/create">Create a New Bloog</a></li>
        </ul>
    </nav>