<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/normalize.css">
    <title>Nav Bar</title>
</head>

<body>
    <header>
        <nav class="topNav">
            <ul class="topNavUl">
                <li class="selectMainMenu button-add"><img src="/images/navigation-bar-menubar-hamburger-menu-svgrepo-com.svg" width= "100%" alt="Main menu"></li>
                <!-- <li class="addTaskClick button-add">Add Task</li> -->
            </ul>
        </nav>
    </header>
</body>

</html>