<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/normalize.css">
    <title>Timer</title>
</head>
<body>
    <div class="clock">
        <div class="clockDigits">
            <section class="digitsBox">
                <p id="seconds">0</p>
            </section>
            <span>:</span>
            <section class="digitsBox">
                <p id="minutes">0</p>
            </section>
        </div>
        <section class="clockControls">
            <ul class="clockList">
                <li class="clockButtons start">Start</li>
                <li class="clockButtons">Pause</li>
                <li class="clockButtons">Reset</li>
            </ul>
        </section>
    </div>
    <section class="chooseTime">
        <ul class="timeList">
            <li>60</li>
            <li>45</li>
            <li>30</li>
            <li>25</li>
            <li>15</li>
        </ul>
    </section>

</body>
</html>