<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= typeof title != 'undefined'? title:'Emotions App' %></title>
    <link
      href="/css/main.min.css"
      rel="stylesheet"
     
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <!-- could do fixed-top  -->
      <nav class="navbar navbar-expand-lg bg-light navbar-light py-3">
        <section class="container">
        <a href="/" class="navbar-brand">
          <img
            class="img-fluid"
            src="/img/emotions2.png"
            width="100"
            height="100"
            alt="logo"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navmenu"
        >
        <span class="navbar-toggler-icon"></span>
      </button>
        <!-- collapse on smaller screens -->
        <section class="collapse navbar-collapse" id="navmenu">
          <!-- ms auto aligns to the right  -->
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a href="/" class="nav-link px-2 link-secondary">Home</a>
            </li>
            <li class="nav-item">
              <a href="/about" class="nav-link px-2 link-secondary">About</a>
            </li>
            <li class="nav-item">
              <a href="/submit-emotion" class="nav-link px-2 link-secondary"
                >Submit</a
              >
            </li>
            <li class="nav-item">
              <a href="/contact" class="nav-link px-2 link-secondary"
                >Contact</a
              >
            </li>
          </ul>
          <section class="col-md-3 text-end">
            <form method="POST" action="/search">
              <input
                type="search"
                name="searchTerm"
                class="form-control"
                placeholder="search..."
                aria-label="search"
              />
            </form>
          </section>
        </section>
      </section>
      </nav>

      <section class="container-xxl px-md-5">
      <main><%- body -%></main>
      <footer class="py-5">
        <!-- <p>Build by Kirstie</p> -->
      </footer>
    </section>


    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <script src="/js/script.js"></script>
  </body>
</html>
