<!DOCTYPE html>
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
<meta charset="utf-8"/>
<!-- Set the viewport width to device width for mobile -->
<meta name="viewport" content="width=device-width"/>
<title>Studio Francesca - Premium Theme by WowThemes.net</title>
<!-- CSS Files-->
<link rel="stylesheet" href="stylesheets/style.css">
<link rel="stylesheet" href="stylesheets/skins/lilac.css">
<!-- skin color -->
<link rel="stylesheet" href="stylesheets/responsive.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
<p class="slide">
	<a href="#" class="btn-slide"></a>
</p>
<!-- HEADER
================================================== -->
<div class="row">
	<div class="headerlogo four columns">
		<div class="logo">
			<a href="/">
			<h4>West Coast Hot Springs</h4>
			</a>
		</div>
	</div>
	<div class="headermenu eight columns noleftmarg">
		<nav id="nav-wrap">
		<ul id="main-menu" class="nav-bar sf-menu">
			<li class="current">
			<a href="/">Home</a>
			<!-- <ul>
				<li><a href="index2.html">Without slider</a></li>
			</ul> -->
			</li>

			<li>
			<a href="#">Blog</a>
			<ul>
				<li><a href="/blogpage2">Blog page style 2</a></li>
				<li><a href="/blogsinglepost">Single post</a></li>
			</ul>
			</li>
			<li>
			<a href="#">Pages</a>
			<ul>
				<li><a href="/about">About us</a></li>
				<li><a href="/services">Services</a></li>
			</ul>
			</li>
			<!-- <li>
			<a href="#">Features</a>
			<ul>
				<li><a href="columns.html">Columns</a></li>
				<li><a href="elements.html">Elements</a></li>
				<li><a href="typography.html">Typography</a></li>
			</ul>
			</li> -->
			<li>
			<a href="/contact">Contact</a>
			</li>
		</ul>
		</nav>
	</div>
</div>
<div class="clear">
</div>

<!-- SUBHEADER
================================================== -->
<div id="subheader" class="subheadertext" style="padding:50px 0px !Important;">
	<div class="row">
		<div class="twelve columns">
			<div class="noslide">
				 <h1>Welcome To West Coast Hot Springs</h1>
				<h3>Click Below To View Map</h3>
			<div class="minipause"></div><br/>
			<a href="/map" class="clear actbutton">To Map</a>
			</div>
		</div>
	</div>
</div>

<!-- CONTENT 
================================================== -->
<div class="row">
	<div class="twelve columns">
		<div class="centersectiontitle">
			<h4>Hot Springs Closest to You</h4>
		</div>
	</div>
	<div  class="twelve columns">
		<h5 id="firstName"></h5>
		<p id="firstDesc">
			 Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.
		</p>
		<p>
			<a id="firstLink" href="placeholder" class="readmore">Learn more</a>
		</p>
	</div>
	<div class="twelve columns">
		<h5 id="secondName">Artwork</h5>
		<p id="secondDesc">
			Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.
		</p>
		<p>
			<a id="secondLink" href="placeholder" class="readmore">Learn more</a>
		</p>
	</div>
	<div class="twelve columns">
		<h5 id="thirdName">Logos</h5>
		<p id="thirdDesc">
			 Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.
		</p>
		<p>
			<a id="thirdLink" href="placeholder" class="readmore">Learn more</a>
		</p>
	</div>
	<div class="twelve columns">
		<h5 id="fourthName">Logos</h5>
		<p id="fourthDesc">
			 Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.
		</p>
		<p>
			<a id="fourthLink" href="placeholder" class="readmore">Learn more</a>
		</p>
	</div>
	<!-- <div class="twelve columns">
		<h5 id="fifName">Logos</h5>
		<p id="fifDesc">
			 Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.
		</p>
		<p>
			<a id="fifLink" href="placeholder" class="readmore">Learn more</a>
		</p>
	</div> -->
</div>
<div class="hr">
</div>

<div id="subheader">
	<div class="row">
		<div class="eight columns">
			<p class="bread leftalign">
				 Search For Hot Spring By Name ------>
			</p>
			<p class="bread leftalign">
				 Search Below By State
			</p>
		</div>
		<div  class="four columns">
			<div id="container1" class="row collapse">
				<div id="wrapper1" class="ten mobile-three columns">
					<input id="search1" type="text" class="nomargin" placeholder="Search..." autocomplete="chrome-off">
				</div>
				<div class="two mobile-one columns">
					<a href="#" class="postfix button expand">Go</a>
				</div>
				<div id="results1">
					<ul>
					</ul>
				  </div>
			</div>
		</div>
	</div>
</div>
<div class="hr">
</div>

<!-- CONTENT 
================================================== -->
<div class="row">
	<div class="twelve columns">
		<!-- CATEGORIES-->
		<section id="options" class="clearfix">
		<ul id="filters" class="option-set clearfix" data-option-key="filter">
			<li><a href="#filter" data-option-value="*" class="portofoliobutton selected">Show all</a></li>
			<li><a href="#filter" data-option-value=".CA" class="portofoliobutton">California</a></li>
			<li><a href="#filter" data-option-value=".OR" class="portofoliobutton">Oregon</a></li>
			<li><a href="#filter" data-option-value=".NV" class="portofoliobutton">Nevada</a></li>
			<li><a href="#filter" data-option-value=".WA" class="portofoliobutton">Washington</a></li>
		</ul>
		</section>
	</div>
</div>
<div class="row">
	<div id="portofolio">
		<!-- Project 1-->
		<ul>
			<% allInfo.forEach(nestArr=>{ %>
		<li class="four columns threeportofolio category <%= nestArr[3] %>">
			<h5> <%= nestArr[0] %></h5>
			<p>
				<%= nestArr[1] %>
			</p>
			<div class="portofoliothumb">
				<div class="portofoliothumboverlay threeoverlay">
					<div class="viewgallery threegallery">
						<a data-gal="prettyPhoto[gallery]" href="http://www.wowthemes.net/demo/studiofrancesca/images/temp/folio1.jpg"><img src="http://www.wowthemes.net/demo/studiofrancesca/images/playgal.png" class="left galleryicon" alt=""> Gallery</a>
					</div>
					<div class="inner threedetail">
						<a class="projectdetail" href="/<%= (nestArr[0].replace(/\s+/g,'')) %>">+ Project Details</a>
					</div>
				</div>
				<img src="http://www.wowthemes.net/demo/studiofrancesca/images/temp/folio1.jpg" class="threeimage" alt=""/>
			</div>
		</li>
		<% }); %>
		</ul>
	</div>
</div>
<div class="hr">
</div>

<!-- FOOOTER 
================================================== -->
<div id="footer">
	<footer class="row">
	<p class="back-top floatright">
		<a href="#top"><span></span></a>
	</p>
	<div class="four columns">
		<h1>ABOUT US</h1>
		 Our goal is to keep clients satisfied!
	</div>
	<div class="four columns">
		<h1>GET SOCIAL</h1>
		<a class="social facebook" href="#"></a>
		<a class="social twitter" href="#"></a>
		<a class="social deviantart" href="#"></a>
		<a class="social flickr" href="#"></a>
		<a class="social dribbble" href="#"></a>
	</div>
	<div class="four columns">
		<h1 class="newsmargin">NEWSLETTER</h1>
		<div class="row collapse newsletter floatright">
			<div class="ten mobile-three columns">
				<input type="text" class="nomargin" placeholder="Enter your e-mail address...">
			</div>
			<div class="two mobile-one columns">
				<a href="#" class="postfix button expand">GO</a>
			</div>
		</div>
	</div>
	</footer>
</div>
<div class="copyright">
	<div class="row">
		<div class="six columns">
			 &copy;<span class="small"> Copyright 2015 Your Agency Name</span>
		</div>
		<div class="six columns">
			<span class="small floatright"> Template by <a href="www.wowthemes.net">WowThemes.net</a></span>
		</div>
	</div>
</div>
<!-- JAVASCRIPTS 
================================================== -->
<!-- Javascript files placed here for faster loading -->
<script src="javascripts/foundation.min.js"></script>
<!-- <script src="javascripts/jquery.cycle.js"></script> -->
<script src="javascripts/app.js"></script>
<!-- <script src="javascripts/modernizr.foundation.js"></script> -->
<!-- <script src="javascripts/slidepanel.js"></script> -->
<!-- <script src="javascripts/scrolltotop.js"></script> -->
<!-- <script src="javascripts/hoverIntent.js"></script> -->
<script src="javascripts/superfish.js"></script>
<script src="javascripts/responsivemenu.js"></script>
<!-- <script src="javascripts/jquery.tweet.js"></script> -->

<script src="javascripts/jquery.isotope.min.js"></script>
<script src="javascripts/jquery.prettyPhoto.js"></script>
<script src="javascripts/custom.js"></script>
<script src="javascripts/main.js"></script>
</body>
</html>