<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="description" content="This is where your description goes">
	<meta name="keywords" content="one, two, three">

	<title>Title in the tab</title>

	<!-- external CSS link -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
		integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
		crossorigin="" />
	<link rel="stylesheet" href="/stylesheets/map.css">
	<!-- <link rel="stylesheet" href="/stylesheets/leaflet-sidepanel.css" /> -->
</head>

<body>
	<!-- set up map -->
	<div id="map" >

		<!-- Side Panel right -->
		<div id="mySidepanelRight" class="sidepanel" aria-label="side panel" aria-hidden="false">
			<div class="sidepanel-inner-wrapper">
				<nav class="sidepanel-tabs-wrapper" aria-label="sidepanel tab navigation">
					<ul class="sidepanel-tabs">
						<li class="sidepanel-tab">
							<a href="#" class="sidebar-tab-link" role="tab" data-tab-link="tab-1">
								Info
							</a>
						</li>
						<li class="sidepanel-tab">
							<a href="#" class="sidebar-tab-link" role="tab" data-tab-link="tab-2">
								Pin
							</a>
						</li>
						<li class="sidepanel-tab">
							<a href="#" class="sidebar-tab-link" role="tab" data-tab-link="tab-3">
								Mark
							</a>
						</li>
						<!-- <li class="sidepanel-tab">
							<a href="#" class="sidebar-tab-link" role="tab" data-tab-link="tab-4">
								Bookmarks
							</a>
						</li> -->
						<!-- <li class="sidepanel-tab">
							<a href="#" class="sidebar-tab-link" role="tab" data-tab-link="tab-5">
								Settings
							</a>
						</li> -->
					</ul>
				</nav>
				<div class="sidepanel-content-wrapper">
					<div class="sidepanel-content">
						<div class="sidepanel-tab-content" data-tab-content="tab-1">
							<h4 id="name1"></h4>
							<p id="firstTab"></p>
						</div>
						<div class="sidepanel-tab-content" data-tab-content="tab-2">
							<h4 id="name2"></h4>
							<p id="secondTab"></p>
						</div>
						<div class="sidepanel-tab-content" data-tab-content="tab-3">
							<h4 id="name3"></h4>
							<p id="thirdTab">
								Website Links Available<br><br>
								<a id="googLink" href="#">Google Maps Link</a><br><br>
								<a id="webLink" href="#"></a><br><br>
							</p>
						</div>
						<div class="sidepanel-tab-content" data-tab-content="tab-4">
							<h4 id="name4"></h4>
							<p id="fourthTab"></p>
						</div>
						<!-- <div class="sidepanel-tab-content" data-tab-content="tab-5">
							<h4>Content 5</h4>
							<p>Nam nec lacinia purus, in accumsan arcu. Aenean at maximus tortor, eget porttitor leo. Fusce justo lorem, dictum nec rutrum sed, mattis faucibus
								diam.
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ullamcorper ex sagittis lacus gravida interdum quis sit amet justo. Nunc posuere
								massa et feugiat efficitur. Donec est magna, lobortis sit amet ligula ut, vehicula posuere diam. Suspendisse aliquet blandit velit, consectetur
								scelerisque libero porttitor eu. Praesent faucibus dignissim maximus. Vestibulum porta eu tellus sit amet ultricies. Integer aliquet vestibulum
								massa,
								in interdum arcu commodo ac. Curabitur sit amet cursus ipsum. Donec ut diam orci. Fusce odio diam, laoreet non elit sed, suscipit mollis leo. Fusce
								non
								turpis faucibus, placerat sapien quis, varius ligula. Praesent ac magna id tortor ultricies ultricies quis nec quam.</p>
							<p>Etiam varius in neque a tristique. Maecenas euismod pharetra scelerisque. Nam in pretium nulla, vel blandit risus. Duis posuere egestas nisi, vitae
								iaculis tortor varius eget. Morbi molestie sem in varius vulputate. Cras enim sapien, malesuada id nisi eu, volutpat congue leo. Praesent aliquet
								ipsum
								id lectus consequat rutrum. In vitae dolor pellentesque dolor scelerisque condimentum eget at ligula. Integer vel turpis eros. Cras at hendrerit
								mauris.
								Aliquam erat volutpat. Quisque vehicula pharetra mauris, nec finibus augue posuere ut. Etiam condimentum lacus at purus luctus finibus.</p>
						</div> -->
					</div>
				</div>
			</div>
			<div class="sidepanel-toggle-container">
				<button class="sidepanel-toggle-button" type="button" aria-label="toggle side panel"></button>
			</div>
		</div>
	
	</div>

<!-- leaflet script link -->
	<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
		integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
		crossorigin=""></script>
	<script type="text/javascript" src="/javascripts/map.js"></script>
	<!-- <script src="/javascripts/leaflet-sidepanel.min.js"></script> -->
	




	
</body>

</html>