<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Golden Goblet Lounge</title>
    <link rel="icon" type="image/png" href="/images/favicon.png"/>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Diplomata&family=Neonderthaw&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
	<link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="index">
    <header class="homepageButton">
        <span><a href="https://golden-goblet-lounge.herokuapp.com/">Homepage</a></span>
    </header>
    <section class="card error homepage">
        <p>No results found! Please try another keyword.</p>
    </section>

    <script src='js/main.js'></script>
</body>
</html>