<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>
            <h2>Error 404 | <%= title %>
            </h2>
            <a href="/">Go to Home</a>
            <%- include('./partials/footer.ejs') %>
    </body>

</html>