<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>
            <h2>About Us</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, omnis consequatur? Modi facere
                necessitatibus eius nesciunt dolor nostrum incidunt quaerat, similique mollitia laudantium deleniti
                vitae! Porro perspiciatis repellat, a sit, sapiente placeat fugit rem error asperiores nisi dolorum
                incidunt obcaecati eum. Sint repellendus incidunt autem numquam dignissimos distinctio aut iste, ratione
                enim vel at soluta!</p>
            <br>
            <p>Illum, omnis consequatur? Modi facere necessitatibus eius nesciunt dolor nostrum incidunt quaerat,
                similique mollitia laudantium deleniti vitae! Porro perspiciatis repellat, a sit, sapiente placeat fugit
                rem error asperiores nisi dolorum incidunt obcaecati eum. Sint repellendus incidunt autem numquam
                dignissimos distinctio aut iste, ratione enim vel at soluta!</p>
            <br>
            <p>Modi facere necessitatibus eius nesciunt dolor nostrum incidunt quaerat, similique mollitia laudantium
                deleniti vitae! Porro perspiciatis repellat, a sit, sapiente placeat fugit rem error asperiores nisi
                dolorum incidunt obcaecati eum. Sint repellendus incidunt autem numquam dignissimos distinctio aut iste,
                ratione enim vel at soluta!</p>
            <%- include('./partials/footer.ejs') %>
    </body>

</html>