<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>
    <div class="about content">
    <h2>About Bloogs</h2>
    <p>"What even actually is, like, a <i>Bloog</i>?" you ask...</p>
    <p>Let me explain: A Bloog is almost exactly, like, a 'Blog' - but, like, 'Blogs' are soooooo totally, like, 2002, so I, like, updated the name to be, like, so totally cool now. Also, because, like, in 2021, like, everyone's attention span is, like, so short or whatever, so are Bloogs - so we don't, like, get bored reading, like, a WHOLE totally boring Blog...</p>
    <h4>EW...</h4>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>