<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Member</title>
</head>
<body>
    <h1>Fill out the form and click submit to add your info to db</h1>
    <form action="/tenantAdd" method="post">
        <input type="text" name="flatno" id="" placeholder="Flat Number">
        <input type="text" name="parkingno" id="" placeholder="Parking Number">
        <input type="text" name="fullname" id="" placeholder="Full Name">
        <input type="number" name="peopleno" id="" placeholder="No of Residents">
        <input type="number" name="petsno" id="" placeholder="No of Pets">
        <input type="number" name="sqfeet" id="" placeholder="Sq Feet">
        <input type="text" name="flattype" id="" placeholder="Flat Type (eg 3BHK)">
        <input type="submit">
    </form>
</body>
</html>