<!DOCTYPE HTML>
<!--
	Transit by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
	<head>
        <title>GGST Frame Data API Info</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
                        <a class="logo" href="/api"><strong>API Info</strong></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Nav -->
					<nav id="menu">
						<ul class="links">
							<li><a href="/">Home</a></li>
							<li><a href="/api">API</a></li>
							<li><a href="https://github.com/anitanotto/ggst-framedata">Github</a></li>
						</ul>
					</nav>

				<!-- Banner -->
					<section id="banner">
						<div class="image filtered" data-position="center">
							<img src="/images/pic01.jpg" alt="" />
						</div>
						<div class="content">
    <h2>Data can be obtained by making a GET request to /api/:characterName with character names formatted as follows :</h2>

    <ul>
        <li>anji_mito</li>
        <li>axl_low</li>
        <li>baiken</li>
        <li>chipp_zanuff</li>
        <li>faust</li>
        <li>giovanna</li>
        <li>goldlewis_dickinson</li>
        <li>happy_chaos</li>
        <li>i-no</li>
        <li>jack-o</li>
        <li>ky_kiske</li>
        <li>leo</li>
        <li>may</li>
        <li>millia_rage</li>
        <li>nagoriyuki</li>
        <li>potemkin</li>
        <li>ramlethal_valentine</li>
        <li>sol_badguy</li>
        <li>testament</li>
        <li>zato-1</li>
    </ul>
    <p>Or /api/all for all character data.</p>
						</div>
					</section>

				<!-- Footer -->
					<footer id="footer">
                        <p class="copyright">Data from <a href="https://www.dustloop.com/wiki/index.php?title=Guilty_Gear_-Strive-">Dustloop</a></p>
						<ul class="icons">
							<li><a href="https://github.com/anitanotto/ggst-framedata/" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/jquery.scrolly.min.js"></script>
			<script src="/assets/js/browser.min.js"></script>
			<script src="/assets/js/breakpoints.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>
            <script src="/assets/js/router.js"></script>

	</body>
</html>
