<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="create-blog content">
        <form action="/blogs" method="POST">
            <label for="title">Bloog title:</label>
            <input type="text" id="title" name="title" required>
            <label for="snippet">Bloog snippet:</label>
            <input type="text" id="snippet" name="snippet" required>
            <label for="body">Bloog body:</label>
            <textarea type="text" id="body" name="body" cols="50" rows="20" required></textarea>
            <button>Submit Your Bloog</button>
        </form>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>