<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="index.css" />
  <title>Expense Exhibit</title>
  <script src="https://unpkg.com/phosphor-icons"></script>
  <script src="index.js" defer></script>
  <script src="dashboard.js" defer></script>
</head>

<body>
  <nav class="primary-nav flex">
    <h1>
      <a href="/">Expense Exhibit</a>
    </h1>

    <a id="auth-link" href="#">Sign Up</a>
  </nav>

  <main class="dashboard grid-container--dashboard grid-container"></main>
</body>

</html>