<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prototype Modelshow Registration</title>
    <link rel="stylesheet" href="style.css">
    <script src="main.js" defer></script>
</head>

<body>
    <header>
        <img src="fms_logo.webp">
        <h1>Fen Model Show</h1>
    </header>
    <nav class = "titleNav">
        <span><a href="/registration">Registration</a></span>
        <span><a href="/judging">Judging<span></a></span>
        <span><a href="/filters">Filters</span></a>
        <span><a href="/stats">Stats</span></a>
        <span><a href="/help">Help</span></a>
    </nav>
    <h2>Registration</h2>
    <ul>
        <li>Click "Add Entry" to add a participant</li>
        <li>The form will automatically generate the next ID for you to assign the contestant</li>
        <li>If you make a mistake, click "Edit" - this makes all entries on the page clickable</li>
        <li>Click the desired entry and the form will reopen for you to make any corrections</li>
        <li>If you click away from the form without filling it out, the ID will not increment next time you open it</li>
    </ul>
    <h2>Judging</h2>
    <ul>
        <li>Participant info is not editable on this page - use Registration if this is needed</li>
        <li>All entries are clickable to open a form to flag them as judged and assign prizes</li>
        <li>Grey entries are "not in competition", but can be assigned People's Choice and sponsor prizes</li>
        <li>Red entries are in competition and have not been judged yet</li>
        <li>Green antries are in competition and have been judged, but you can change or amend prizes by clicking again</li>
        <li>You cannot award a unique prize (like Best of Show) a second time, but it will bring up the existing entry with that prize if you wish to change your mind</li>
    </ul>
    <h2>Filters</h2>
    <ul>
        <li>Use the buttons to view the winners of each category, listed by Juniors and Adults</li>
    </ul>

</body>