<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel = 'stylesheet' href = '/css/home.css'>
    <title>FGO</title>
</head>


<nav class = 'nav'>
    <ul class = 'flex'>
        <li><a href = '/' class = 'data'>Home</a></li>
        <li><a href = '/servants' class = 'data'>Add Servant</a></li>
        <li><a href = '/data' class = 'data'>See Servant Data</a></li>
        <li><a href = '/data/comments' class = 'data'>Comments</a></li>
        <li><a href = '/fate' class = 'data'>Simulator</a></li>
    </ul>
</nav>

<body class = 'flex column alignItems'>


    <header class = 'flex column justifyContent alignItems'>
<h1>Fate Grand Order</h1>

    </header>


<div class = 'padding flex alignItems column'>
    <section id = 'one'>
        <h2 class = 'flex justifyContent'>What is Fate Grand Order?</h2>
        <blockquote cite="https://typemoon.fandom.com/wiki/Fate/Grand_Order"><p>Fate/Grand Order (フェイト/グランドオーダー, Feito/Gurando Ōdā?) is a mobile “gacha” RPG game for Android and IOS, developed by Delightworks, published by Aniplex and licensed by TYPE-MOON.
Conceived as "Fate Online Project Reboot", the reboot of the original Fate/Apocrypha project that eventually became a novel series, Grand Order is a turn-based RPG with strong storytelling and “gacha” elements—the 300+ characters usable in combat being drawn from a weighted lottery with in-game currency and microtransactions.
Originally released in Japan in 2015, the game reached China in 2016 and the United States in 2017.  The same year, it became the sixth highest-grossing mobile game, and has gathered a large community. The game's story is being adapted in several manga, animated movies and animated series.</p></blockquote>
    </section>




    <main class = 'flex alignItems column'>
        <section class = 'flex alignItems column section1'>
            <a class = 'flex column alignItems'href= '/servants'>
                <h2> Add Servants </h2>
            <img src = '' class = 'row0'></a>
        </section>
        <section class = 'flex alignItems column section2'>
            <a class = 'flex column alignItems'href = '/data'>
            <h2> Preview Added Servants </h2>
            <img src = '' class = 'row1'>
            </a>
        </section>
        <section class = 'flex alignItems column section3'>
            <a class = 'flex column alignItems'href = '/comments'>
            <h2> Comments about Added Servants </h2>
            <img src = '' class = 'row2'>
            </a>
        </section>
        <section class = 'flex alignItems column section4'>
            <a class = 'flex column alignItems'href = '/fate'>
            <h2> Servant Simulator </h2>
            <img src = '' class = 'row3'>
            </a>
        </section>

    </div>
    </main>



    <footer class = 'flex' id = 'footer'>
          <nav class= "flex">
            <small class = 'flex justifyContent alignItems'>FGO app &copy; choir</small>
              <ul class = 'flex'>

                <li><a href = '/' class = 'data'>Home</a></li>
                <li><a href = '/servants' class = 'data'>Add Servant</a></li>
                <li><a href = '/data' class = 'data'>Servant Data</a></li>
                <li><a href = '/data/comments' class = 'data'>Comments</a></li>
                <li><a href = '/fate' class = 'data'>Simulator</a></li>
      </ul>
      </nav>
      </footer>

    <script src = '/js/home.js'></script>
</body>
</html>