<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
<section class="row">
<section class="column">
    <h2>Input API Data here</h2>
    <form action = "/" method="POST">
        <input type="text" placeholder="name" name="name">
        <input type="text" placeholder="speciesName" name="speciesName">
        <textarea rows="5" cols="40" type="text" placeholder="features" name="features"></textarea>
        <input type="text" placeholder="homeworld" name="homeworld">
        <input type="text" placeholder="image" name="image">
        <textarea rows="5" cols="40" type="text" placeholder="interestingfacts" name="interestingfacts"></textarea>
        <input type="text" placeholder="notableexamples" name="notableexamples">
        <button type="submit" >SUBMIT NEW</button>
        <button type="button" id="updateButton">UPDATE EXISTING</button>
    </form>
</section>
<section class="column">
        <h2>Delete API data Here</h2>
        <input type="text" placeholder="name to delete" name="deleteInput" id="deleteInput"><button id="deleteButton">DELETE EXISTING</button>
        

        <h2> Current Aliens </h2>
        <ul class="aliens">
        <% for(let i=0; i < info.length; i++) {%>
            <li class="alien">
                 <span><%= info[i] %></span>
            </li>
            <% } %>
        </ul>
        <h2>Insert JSON Here</h2>
        <form action="/massinsert" method="POST">
        <textarea rows="20" cols="40" type="text" placeholder="insert JSON, comma delimited between objects" name="insertMany"></textarea>
        </form>
        <button type="submit">LOAD JSON</button>
</section>
</section>
   
<script type="text/javascript" src="main.js"></script>
</body>
</html>