<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Loiter Squad Quotes</title>
        <link rel="stylesheet" href="/normalize.css" />
        <link rel="stylesheet" href="/style.css" />
    </head>
    <body>
        <h1>Loiter Squad Quotes</h1>
        <div class="form">
            <form action="/quotes" method="POST">
                <input type="text" placeholder="name" name="name" />
                <input type="text" placeholder="quote" name="quote" />
                <button type="submit">Submit</button>
            </form>
        </div>
        <ul class="quotes">
            <% for(let i = 0; i < quotes.length; i++) {%>
            <li class="quote">
                <span><%= quotes[i].name %></span>:
                <span><%= quotes[i].quote %></span>
            </li>
            <% } %>
        </ul>
        <div class="update">
            <h2>Thurnis Haley interrupts...</h2>
            <p>
                Replace first Catchphrase Jones' quote with a quote written by
                Thurnis Haley
            </p>
            <button id="update-button">Replace Catchphrase Jones' quote</button>
        </div>
        <div class="delete">
            <h2>Remove Thurnis Haley</h2>
            <p>
                Delete one Thurnis Haley quote. Does nothing if there are no
                more Thurnis Haley quote
            </p>
            <button id="delete-button">Delete a Thurnis Haley quote</button>
        </div>
        <div id="message"></div>
        <script src="/main.js"></script>
    </body>
</html>
