<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <title>Home Page</title>
</head>
<body>
    <!-- <h1>Dont let your dreams be dreams</h1> -->
    <section>
    <h3>List of Colors:</h3>
    <ul class="colorItems">
        <% for (let i = 0; i < items.length; i++) {%>
            <li class="item">
                <% if(items[i].completed === true) {%>
                    <span class="fontsize"><%= items[i].thing %></span>
                <% }else{ %>
                    <span class="fontsize"><%= items[i].thing %></span>    
                <% } %>
                <span class="fa fa-trash"></span>
            </li>
        <% } %>
    </ul>

    <!-- <h3>Num of Colors of your palette: <%= left %></h3> -->

    <h3>Add A Color:</h3>
    <form action="/addColor" method="POST">
        <input type="text" placeholder="Text" name="addColor">
        <input type="submit">
    </form>
    </section>

    
    <script src="js/main.js"></script>
</body>
</html>