<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- EJS code -->
    <section>
        <h1>Today's Task List</h1>
        <ul class="todoList">
            
            <% for(let i = 0; i < info.length; i++) {%>
                <li class="task">
                    <span><%= info[i].task %></span>
                    <span class="del">DEL</span>
                </li>
            <% } %>
        </ul>

        <h2>Add a task: </h2>
        <form action="/addTask" method="POST">
            <input id="newTask" type="text" placeholder="Task" name="task">
            <input id="submit" type="submit">
        </form>
    </section>
    <script src="main.js"></script>
    
</body>
</html>