<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Songs API</title>

    <link rel="stylesheet" href="static/css/normalize.css">
    <link rel="stylesheet" href="static/css/reset.css">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
<header>
    <h1>Party Like It's 2009</h1>
    <h5>emo/pop punk/scene bands, and some bands that inspired them</h5>
</header>

<section class="input">
    <form action="" method="get">
        <input type="text">
        <button>What's their best song?</button>
    </form>

</section>

<section class="response">
    <h2></h2>
</section>

<!--<section class="form">
    <form action="/songs" method="POST">
        <input type="text" placeholder="band" name="band">
        <input type="text" placeholder="song" name="song">
        <button type="submit">Submit</button>
    </form>
</section>-->

<script src="static/js/main.js"></script>
</body>
</html>