<%- include("partials/header") %>

<div class="main-container hero bg-dark bg-gradient">
<main class="bg-dark text-secondary px-4 py-5 text-center shadow w-100">
    <h1 class="display-5 fw-bold text-white">Broadway Log</h1>

    <section class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">
            Keep track of the Broadway shows you've seen.
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="log" class="btn btn-info btn-lg px-4 me-sm-3 fw-bold">Start</a>
        </div>
    </section>
</main>

<%- include("partials/footer") %> 