<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="images/favicon.ico">
    <title>Coffee Collection API</title>
</head>
<body>
    <div class="container">
    <header>
        <h1>Coffee Brands, Types, and Flavors</span></h1>
    </header>
    <h2>Add a Coffee</h2>
    <form method="POST" action="/addCoffee">
        <input type="text" class="coffeeBrand" placeholder="coffee brand" name="coffeeBrand" required>
        <input type="text" class="beanType" placeholder="bean type" name="beanType" required>
        <input type="text" class="roastFlavor" placeholder="roast or flavor" name="roastFlavor" required>
        <button id="submit">Submit</button>
    </form>
    <h2 id="coffee-info">Current Coffee List</h2 class="coffee fade-in">
        <ul >
            <% for (let i = 0; i < info.length; i++) {%>
                <li class="coffee">
                    <span><%= info[i].coffeeBrand %></span> &#8226; 
                    <span><%= info[i].beanType %></span> &#8226; 
                    <span><%= info[i].roastFlavor %></span>
                </li>    
        <% } %>
        </ul>


    </div> 
    <script src="js/main.js"></script>
    </html>