<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ND Hacks</title>
</head>
<body>
    <h1>Neurodivergent Hacks</h1>
    <p>Ideas and tricks that have helped other neurodivergent people. Add yours and vote for which ones help you!</p>
    
    <main>
        <ul class="hacks">
            <% for (let i = 0; i < hacks.length; i++) { %>
                <li class="hack">
                    <span><%= hacks[i].text %></span>
                    <!-- <%= hacks[i].conditions %> -->
                    <!-- TODO how to add diagnoses here -->
                    <!-- do i want to use a table? -->
                    <button class="help">This helped me!</button>
                    <button class="spam">This is spam</button>
                </li>
            <% } %>
        </ul>
    </main>

    <section>
        <h2>Add a hack</h2>
        <form action="/add-hack" method="POST">
            <label> Your hack:
                <input type="text" name="text" required>
            </label>
            <label> Your condition(s) (optional):
                <input type="text" name="conditions">
            </label>
            <input type="submit">
        </form>
    </section>

    <script src="/main.js"></script>
</body>
</html>