<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get a Reading</title>
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Daily Tarot</h1>
    <button class="button" id="card-picker">Pick a Card</button>
    <img src="" alt="" id="card-image">
    <h2><span id="card-number"></span> <span id="card-name"></span></h2>
    <h3 class="description-header hidden">Upright</h3>
    <p class="keywords" id="keywords-up"></p>
    <p class="description" id="description-up"></p>
    <h3 class="description-header hidden">Reversed</h3>
    <p class="keywords" id="keywords-rev"></p>
    <p class="description" id="description-rev"></p>

    <script src="/main.js"></script>
</body>
</html>