<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Star Wars Quote App</title>
</head>

<body>
    <h1>CRUD APP</h1>
    <section>
        <h2>Create</h2>
        <form action="/text" method="POST">
            <input type="text" placeholder="text" name="text">
            <input type="file" name="image" accept="image/*">
            <button type="submit">Submit</button>
        </form>
    </section>
    
    <section>
        <h2>Read</h2>
        <% for( let i=0; i < textArray.length; i++ ) { %>
            <li>
                <span>
                    <%= textArray[i].text %>
                </span>
            </li>
            <% } %>
    </section>
    
    <section>
        <h2>Update</h2>
        <button id="update-button">Update</button>
    </section>
    
    <section>
        <h2>Delete</h2>
        <button id="delete-button">Delete</button>
    </section>
    <script src="/main.js"></script>
</body>

</html>