<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style.css">
    <title>Document</title>
</head>
<body>
    <h1>Notes App</h1>

    <ul>
        <% for(let i = 0; i < notes.length; i++) { %> 
            <li>
                <h2><%= notes[i].title %></h2>
                <p><%= notes[i].content %></p>
                <div class="links">
                    <a href="/edit/<%= notes[i]._id %> " class="editBtn"><i class="fa-solid fa-pen-to-square"></i></a>
                    <!-- <form method="POST" action="/delete/<%= notes[i]._id %> ?_method=DELETE">
                        <input type="hidden">
                        <input type="submit" name="delete" id="delete" value="">
                    </form> -->
                    <i class="deleteBtn fa-solid fa-trash-can"></i>
                </div>
            </li>
        <% } %> 
    </ul>

    <a href="/add" class="addNoteBtn">Add New Note <i class="fa-solid fa-plus"></i></a>


    <script src="../main.js"></script>
</body>
</html>