<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Whats In the Freezer</h1>
    <ul class="rappers">
    <% for(let i=0; i < info.length; i++) {%>
        <li class="rapper">
            <span><%= info[i].foodName %></span>
            <span><%= info[i].entryDate %></span>
            <span><%= info[i].foodType %></span>
            <span><%= info[i].likes %></span>
            <span class='fa fa-plus'></span>
            <span class='fa fa-minus'></span>
            <span class='fa fa-trash'></span>
        </li>
    <% } %>
    </ul>

    <h2>Add Item to Freezer:</h2>

    <form action="/addRapper" method="POST">
        <input type="text" placeholder="Food Item" name="foodName">
        <input type="datetime" placeholder="Entry Date" name="entryDate">
        <input type="text" placeholder="Discription prepare or raw" name="foodType">
        <input type="submit">
    </form>
    

    <script src='js/main.js'></script>
</body>
</html>