<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <form action="/game" method="POST">
            <input type="text" placeholder="Enter Fun Fact" name="fact">
            <button type="submit">Submit</button>
          </form>
    </section>
    <section class="Display">
        <ul>
            <% for(i=0; i < Skyrim.length; i++) {%>
            <li>
                <span><%=Skyrim[i].fact %></span>
                <a href="/delete/<%= Skyrim[i].id %>">Delete</a>
            </li>
            <% } %>
        </ul>
    </section>
</body>
</html>