<%- include('partials/head.ejs') %>

<body class="preauth">

    <section class="card">
        <h1 class="logo"><span class="text-accent"> - </span><span class="text-neutral"> - </span><a href="/">SuperDrip</a><span class="text-neutral"> - </span><span class="text-accent"> - </span></h1>
        <p class="text-lg text-center">The app for tracking all your Supervised Driving Practice</p>
        <a href="/login" class="blueBtn"> Login</a>
        <a href="/signup" class="redBtn"> Signup</a>
    </section>

    <%- include('partials/footer.ejs') %>