<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Simple Full Stack Express App Template</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <h1>A Simple Express Full-Stack Template and Step-By-Step Guide</h1>

        <h2>See the step-by-step-instructions file to get started from scratch.</h2>

        <h2>And here's how you set up and push to Heroku:</h2>

            <ol>
                <li>git init</li>
                <li>heroku login</li>
                <li>heroku create [insert-name-of-your-repo-to-create]</li>
                <li>echo "web: node server.js" > Procfile</li>
                <li>git add . </li>
                <li>git commit -m "changes"</li>
                <li>git push heroku main</li>
            </ol>

        <script src='/main.js'></script>
    </body>
</html>