<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>CPD Log</title>
	</head>
	<body>
		<section>
			<h1>CPD LOG</h1>
			<form action="/addEntry">
				<input type="date" name="date" />
				<input type="text" placeholder="what happened?" name="cause" />
				<input type="text" placeholder="what did you do?" name="action" />
				<input type="text" placeholder="How did it go?" name="result" />
				<input type="text" placeholder="What did you learn?" name="cause" />
			</form>
		</section>
	</body>
</html>
