<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Breaking Bad Quotes Generator!</title>
</head>
<body>
  <h1 data-position="header">BREAKING BAD QUOTES DB BUILDER</h1>

  <section data-position="add-quote">
    <h2>Add quote</h2>

    <form action="/quotes" method="POST">
      <input type="text" placeholder="name" name="author">
      <input type="text" placeholder="quote" name="quote">
      <button type="submit" id="addQuote">Submit</button>
    </form>
  </section>

  <!-- <section data-position="update-quote">
    <div>
      <h2>Darth Vader invades!</h2>
      <p>
        Replace the first Yoda quote with a quote written by Darth Vader
      </p>
      <button id="update-button">Replace Yoda's quote</button>
    </div>
  </section> -->

  <!-- <section data-position="delete-quote">
    <div>
      <h2>Remove Darth Vader!</h2>
      <p>
        Delete one Darth Vader quote. Does nothing if there are no more Darth
        Vader quotes.
      </p>
      <button id="delete-button">Delete Darth Vader's quote</button>
    </div>
    <div id="message"></div>
  </section> -->
  

  <section data-position="quotes">
    <h2>Quotes</h2>
    <ul class="quotes">
    
      <% for(var i = 0; i < quotes.length; i++) {%>
        <li class="quote">
          <span><%= quotes[i] %></span>:
          <span><%= quotes[i] %></span>
        </li>
      <% } %>
    </ul>
  </section>

  

  <script src="/main.js"></script>
</body>
</html>