<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Viewed Youtubers</h1>
    <ul class="youtubers">
    <% for(let i=0; i < info.length; i++) {%>
        <li class="youtuber">
            <span><%= info[i].youtuberName %></span>
            <span><%= info[i].vidCount %></span>
            <span class='fa fa-arrow-up'></span>
            <span class='fa fa-trash'></span>
        </li>
    <% } %>
    </ul>

    <h2>Add A Youtuber:</h2>

    <form action="/addTuber" method="POST">
        <input type="text" placeholder="Youtuber Name" name="youtuberName">
        <input type="submit">
    </form>
    

    <script src='js/main.js'></script>
</body>
</html>