<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backstock App</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backstock</title>
</head>
<body>
    <section class="deepFreezerSection">
        <h1>Deep Freezer Backstock</h1>
        <ul class="deepFreezer">
        <% for(let i=0; i < info.length; i++) {%>
            <li class="item wrapper">
                <span class="title"><%= info[i].itemTitle %></span>
                <span class="expiration"><%= info[i].expiration %></span>
                <span class='fa fa-minus-circle'></span>
                <span class="quantity"><%= info[i].quantity %></span>
                <span class='fa fa-plus-circle'></span>
                <span class='fa fa-trash'></span>
            </li>
        <% } %>
        </ul>

        <h2>Add an Item to the Deep Freezer:</h2>

        <form action="/addDeepFreezerItem" method="POST">
            <input type="text" placeholder="Item Title" name="itemTitle">
            <input type="text" placeholder="Expiration" name="expiration">
            <input type="submit" class="submit">
        </form>
    </section>

    <script src='js/main.js'></script>
</body>
</html>
