<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pokemon Tracker</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1>Pokemon Starting Five</h1>
  <h2>Add your starters or reserves and keep track of them here!
  </h2>

  <h2>Starting Five: </h2>
  <label for="name">Name</label>
  <input type="text" id="name" name="name" placeholder="e.g Charizard">
  <label for="level">Level</label>
  <input type="number" name="level" id="level" max="100" min="1">

  <h2>Reserves: </h2>


  <ul>
    <li>git init</li>
    <li>heroku login</li>
    <li>heroku create</li>
    <li>echo "web: node server.js" > Procfile</li>
    <li>git add .</li>
    <li>git commit -m 'change'</li>
    <li>git push heroku main</li>
  </ul>

  <script src="main.js"></script>
</body>
</html>