<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pomo-Todo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Current To-Do Tasks</h1>
    <ul class="todos">
    <% for(let i=0; i < info.length; i++) {%>
        <li class="todo">
            <span><%= info[i].todo %></span>
            <span><%= info[i].pomoSessions %></span>
            <span><%= info[i].pomosCompleted %></span>
            <span class='fa fa-thumbs-up'></span>
            <span class='fa fa-trash'></span>
        </li>
    <% } %>
    </ul>

    <h2>Add a Task:</h2>

    <form action="/addTodo" method="POST">
        <input type="text" placeholder="To-do Task" name="todo">
        <input type="text" placeholder="Number of Pomodoro Sessions" name="pomoSessions">
        <input type="submit">
    </form>
    

    <script src='js/main.js'></script>
</body>
</html>
