<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Bookshelf</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>My Bookshelf</h1>


    <form action="/addBook">
        <label for="bookItem">Add to Bookshelf</label>
        <input type="text" name="bookItem" placeholder="Book Title">
        <input type="submit" value="Add Book">
    </form>
    
    <script src='js/main.js'></script>
</body>
</html>
