<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <h1>To Do List for Today</h1>
    <ul class="toDos">
    <% for(let i=0; i < info.length; i++) {%>
        <li class="list">
            <span><%= info[i].tasks %></span>
            <!-- <span><%= info[i].likes %></span> -->
            <input type="checkbox" class="check">
            <span class='fa fa-trash'></span>
            
        </li>
    <% } %>
    </ul>

    <h2>Add A Task Below</h2>

    <form action="/addtask" method="POST">
        <input type="text" placeholder="Name your task" name="tasks">
        <input type="submit" placeholder="Click Me!">
    </form>
    

    <script src='js/main.js'></script>
</body>
</html>
