<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Super Powers</h1>
    <ul class="powers">
    <% for(let i=0; i < info.length; i++) {%>
        <li class="user">
            <span><%= info[i].powerName %></span>
            <span><%= info[i].powerDescription %></span>
            <span><%= info[i].powerDisadvantages %></span>
            <span class='del'>delete</span>
        </li>
    <% } %>
    </ul>

    <h2>Add A Superpower:</h2>

    <form action="/addPower" method="POST">
        <input type="text" placeholder="Power" name="powerName">
        <input type="text" placeholder="Description" name="powerDescription">
        <input type="text" placeholder="Disadvantages" name="powerDisadvantages">
        <input type="submit">
    </form>
    

    <script src='main.js'></script>
</body>
</html>