<%- include('partials/header') -%>

<div class="container-fluid mb-5" align="center">
    <div class="card w-96 bg-base-100" align="left">
        <figure><img src="imgs/image.png" alt="swing" /></figure>
        <div class="card-body">
            <h2 class="card-title">Welcome to <span class="text-accent">Pocket</span></h2>
            <p>Keep track of your personal budget and see what your expenses are on a daily, weekly, monthly, and yearly basis.</p>
            <div class="card-actions justify-end">
            <a href="/login" class="col-3 btn btn-primary">Login</a>
            <a href="/signup" class="col-3 btn btn-secondary">Signup</a>
            </div>
        </div>
    </div>
</div>
    
<%- include('partials/footer_credit') -%>
<%- include('partials/footer') -%>