<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
<body>
    <h1>To-Do List</h1>
    <ul class="list">
        <% for(let i=0; i < list.length; i++) {%>
            <li class="items">
                <span><%= list[i].taskName %></span>
                <span><%= list[i].priority %></span>
                <span class="fa-solid fa-arrow-up"></span>
                <span class="fa-solid fa-arrow-down"></span>
                <span class='fa fa-trash'></span>
            </li>
        <%}%>
    </ul>
    <h2>Add an item:</h2>
    <form action="/addTask" method="POST">
        <input type="text" placeholder="Task Name" name="taskName">
        <input type="number" placeholder="Priority Level" name="taskPriority">
        <input type="submit">
    </form>
    <script src="js/main.js"></script>
</body>
</html>