<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prototype Modelshow Registration</title>
    <link rel="stylesheet" href="style.css">
    <script src="main.js" defer></script>
</head>

<body>
    <header>
        <img src="fms_logo.webp">
        <h1>Fen Model Show</h1>
    </header>
    <nav class = "titleNav">
        <span><a href="/registration">Registration</a></span>
        <span><a href="/judging">Judging<span></a></span>
        <span><a href="/filters">Filters</span></a>
        <span><a href="/stats">Stats</span></a>
        <span><a href="/help">Help</span></a>
    </nav>
</body>