<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge"
    >
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    >
    <title>Document</title>
  </head>
  <body>
    <h1>burger</h1>
    <form
      action="/quotes"
      method="POST"
    >
      <input
        type="text"
        placeholder="name"
        name="name"
      >
      <input
        type="text"
        placeholder="quote"
        name="quote"
      >
      <button type="submit">Submit</button>
    </form>
    <h2> Quotes</h2>
    <ul class="quotes">
			<% for(let i = 0; i < quotes.length; i++ ) { %>
				<li>
					<%= quotes[i].name %>: <%= quotes[i].quote %>
				</li>
			<% } %>
		</ul>
		<div>
			<h2>Darth Vader invades!</h2>
			<p>
				Replace first Yoda's quote with a quote written by Darth Vader
			</p>
			<button id="updateButton">Replace Yoda's quote</button>
		</div>
		<div>
			<h2>Remove Darth Vader!</h2>
			<p>
				Delete one Darth Vader's quote. Does nothing if there are no more Darth
				Vader's quote
			</p>
			<button id="delete-button">Delete Darth Vader's quote</button>
		</div>
		<script src="/main.js"></script>
  </body>
</html>
