<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocery Stock</title>
</head>
<body>
    <h1>Grocery Stock</h1>
    <ul class="groceries">
    <% for(let i=0; i < info.length; i++){%>
        <li class="item">
            <span><%= info[i].name %></span>
            <span><%= info[i].number %></span>
            <button class="del">Delete</button>
        </li>
    <% } %>
    </ul>

    <h2>Add A Grocery Item:</h2>

    <form action="/addItem" method="POST">
        <input type="text" name="name">
        <input type="text" name="number">
        <input type="submit">
    </form>

    <script src="main.js"></script>
</body>
</html>