<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style.css">
    <title>Document</title>
</head>
<body>
    <h1>Notes App</h1>
    <!-- <div class="note">
        <h2>Title</h2>
        <p>This is some content</p>
        <i class="fa-solid fa-trash-can"></i>
        <i class="fa-solid fa-pen-to-square"></i>
    </div> -->
    <ul>
        <li>
            <h2>Title #1</h2>
            <p>Text Content #1</p>
              <div class="links">
                <a href=""><i class="fa-solid fa-pen-to-square"></i></a>
                <a href=""><i class="fa-solid fa-trash-can"></i></a>
            </div>
          </li>
    </ul>
    <a href="/add" class="addNoteBtn">Add New Note <i class="fa-solid fa-plus"></i></a>


    <!-- <button><i class="fa-solid fa-plus-large"></i></button> -->
    <script src="../main.js"></script>
</body>
</html>