<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>BRIAGDE APP</title>
</head>

<body class="bg">
    <div class="p-2 container bg-dark text-md-center center" id="mainBg">
        <h1 class="text-primary">INFO ABOUT FLAT</h1>
        <div class="row mt-5">
            <div class="col p-2 text-center"><a href="/search" ><button class="btn btn-primary" id="search">Search for your info</button></a></div>
            <div class="col p-2 text-center"><a href="/add"><button class="btn btn-primary" id="add">Add your info to db</button></a></div>
            <div class="col p-2 text-center"><a href="/display"><button class="btn btn-primary" id="view">View all tenants</button></a></div>
        </div>
        <div class="p-2 container bg-dark mt-5 text-md-center">
            <h2 class="text-primary">Site made by Sidharth (ego-death)</h2>
            <h2 class="text-primary">Source code on github</h2>
            <h2 class="text-primary">Front-end suggestions welcome</h2>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="main.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>