<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Star Wars Quote App</title>
</head>

<body>
    <h1>May Node and Express be with you.</h1>

    <form action="/quotes" method="POST">
        <input type="text" placeholder="name" name="name" />
        <input type="text" placeholder="quote" name="quote" />
        <button type="submit">Submit</button>

        <!-- this is STEP 17  adding code below-->
        <!-- <%= quotes %> STEP 21 is to comment it out!!! END READ in CRUD enter UPDATE!!-->  
        
    </form>

    <!-- STEP 20 start added all of this below THE FOR LOOP -->
    <h2> Quotes </h2>
    
    <ul class="quotes">
        <!-- Loop through quotes -->
        <% for(var i=0; i < quotes.length; i++) {%>
            <li class="quote">
                <!-- Output name from the iterated quote object -->
                <span>
                    <%= quotes[i].name %>
                </span>:
                <!-- Output quote from the iterated quote object -->
                <span>
                    <%= quotes[i].quote %>
                </span>
            </li>
            <% } %>
    </ul>
    <!-- STEP 20 END -->









    <!-- STEP 22 STAR enter UPDATE in CRUD-->
    <div>
        <h2>Darth Vadar invades!</h2>
        <p>
            Replace first Yoda's quote with a quote written by Darth Vadar
        </p>
        <button id="update-button">Replace Yoda's quote</button>
    </div>
    <!-- STEP 22 END -->







    <!-- STEP 32 ENTER DELETE in CRUD -->
    <div>
        <h2>Remove Darth Vadar!</h2>
        <p>
            Delete one Darth Vadar's quote. Does nothing if there are no more Darth
            Vadar's quote
        </p>
        <button id="delete-button">Delete Darth Vadar's quote</button>
    </div>
    <!-- STEP 32 END -->

    


    <!-- STEP 35 START -->
    <div id="message"></div>
    <!-- STEP 35 END -->



    <!-- STEP 25 START -->
    <script src="/main.js"></script>
    <!-- STEP 25 END -->
</body>

</html>