<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="wnameth=device-wnameth, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <title>shredstick</title>
</head>

<body>
    <h1>shredstick</h1>
    <a href="/" class="home">Home</a>
    <section class="forms">
        <form action="/users" method="" class="users">
            <input type="email" placeholder="email" name="email">
            <input type="text" placeholder="password" name="password">
            <button type="submit">Login</button>
            <a href="/register"> Register</a>
        </form>
    <script src="/js/main.js"></script>
</body>
</html>