<%- include('partials/head.ejs') %>

<body class="preauth">

    <section class="card">
        
        <form action="/login" class="flex flex-col space-y-3" method="POST">
            <h1 class="logo"><span class="text-accent"> - </span><span class="text-neutral"> - </span><a href="/">SuperDrip</a><span class="text-neutral"> - </span><span class="text-accent"> - </span></h1>
            <p>Log In: </p>
            <input type="email" class="showText placeholder-mid" name="email" placeholder="Email">
            <input type="password" class="showText placeholder-mid" name="password" placeholder="Password">
            <input type="submit" class="blueBtn">
        </form>

        <% if (locals.messages.errors) { %>
            <% messages.errors.forEach( el => { %>
                <div class="alert alert-danger"><%= el.msg %></div>
            <% }) %>    
        <% } %>
        <% if (locals.messages.info) { %>
            <% messages.info.forEach( el => { %>
                <div class="alert alert-danger"><%= el.msg %></div>
            <% }) %>    
        <% } %>

    </section>
    
    <%- include('partials/footer.ejs') %>