<h3><i class="fas fa-spa"></i> Mood Tracker</h3>
<div class="section">
  <p class="lead">Track your mood to improve your wellness!</p>
</div>
<div class="divider"></div>
<div class="section">
<a href="/auth/google" class="btn red darken-1">
  <i class="fab fa-google left"></i> Log In With Google
</a>
</div>