<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <%- include('partials/navbar') %>
        <section class="content altBGColor centeredChildren">
            <fieldset class="centeredContainer altBGColor2 txtSize2 mainOutlineColor borderNone">
                <h1>Login</h1>
                <% if (messages.error) { %>
                    <%= messages.error %>
                        <% } %>
                            <form action="/login" method="POST">
                                <section class="centeredForm">
                                    <label for="email">Email</label>
                                    <input type="email" name="email" id="email" required>
                                </section>
                                <section class="centeredForm">
                                    <label for="password">Password</label>
                                    <input type="password" name="password" id="password" required>
                                </section>
                                <section>
                                    <button type="submit">Login</button>
                                </section>
                            </form>
            </fieldset>
        </section>
        <%- include('partials/footer') %>

</body>

</html>