<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow&family=Fugaz+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <script src="https://kit.fontawesome.com/68de1d0260.js" crossorigin="anonymous"></script>
    <title><span class="logo">SuperDrip</span> - Log In</title>
</head>
<body class="preauth">

    <section class="card">
        
        <form action="/login" class="flex flex-col space-y-3" method="POST">
            <h1 class="logo"><span class="text-accent"> - </span><span class="text-neutral"> - </span><a href="/">SuperDrip</a><span class="text-neutral"> - </span><span class="text-accent"> - </span></h1>
            <p>Log In: </p>
            <input type="email" class="showText placeholder-mid" name="email" placeholder="Email">
            <input type="password" class="showText placeholder-mid" name="password" placeholder="Password">
            <input type="submit" class="blueBtn">
        </form>

        <% if (locals.messages.errors) { %>
            <% messages.errors.forEach( el => { %>
                <div class="alert alert-danger"><%= el.msg %></div>
            <% }) %>    
        <% } %>
        <% if (locals.messages.info) { %>
            <% messages.info.forEach( el => { %>
                <div class="alert alert-danger"><%= el.msg %></div>
            <% }) %>    
        <% } %>

    </section>
    
    <footer class="footer">
        SuperDrip &copy; 2022
    </footer>
</body>
</html>