<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIt</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="public/css/starter.css">
</head>
<body class="bg-dark">

    <!-- navbar -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container">
            <a href="/" class="navbar-brand">LogIt</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="/materials" class="nav-link">Materials</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Account</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Search</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Showcase -->
    <section class="bg-dark text-light p-5 m-5 text-center justify-content-between h-100">
        <div class="container">
            <div class="d-sm-flex align-items-center row">
                <div class="col border p-3 container">
                    <h1>Inventory:</h1>

                    <!-- List that fills in based on array contents -->
                    <ul class="materials px-3">
                    <% for(let i=0; i < info.length; i++) {%>
                        <li class="material">
                            <span><%= info[i].brand %></span>
                            <span><%= info[i].product %></span>
                            <span><%= info[i].amount %></span>
                            <span class='fa fa-thumbs-up'></span>
                            <span class='fa fa-trash'></span>
                        </li>
                    <% } %>
                    </ul>

                </div>

                <!-- UI for manipulating array -->
                <div class="container m-0 p-2 col">
                    <h2>Add A Material:</h2>
                    <form action="/addMaterial" method="POST">
                        <input type="text" placeholder="Brand" name="brand">
                        <input type="text" placeholder="Product" name="product">
                        <div class="p-3">
                            <input type="submit" class="btn btn-outline-primary" value="Add">
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="bg-dark text-center text-white">
        <div class="container p-4 pb-0">
        <section class="mb-4">
    
        <!-- Google -->
        <a class="btn btn-outline-light btn-floating m-1" href="mailto:harshabc4@gmail.com" role="button"
            ><i class="fa fa-envelope"></i
        ></a>
    
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/brianharsha/" role="button"
            ><i class="fab fa-linkedin-in"></i
        ></a>
    
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/harshabc4" role="button"
            ><i class="fab fa-github"></i
        ></a>
        </section>
        </div>
        
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2022 Copyright:
            <a class="text-white" href="https://brianharsha.netlify.app/">Brian Harsha</a>
        </div>

    <!-- Copyright -->
    </footer>

    <script src='public/js/main.js'></script>

    <!-- bootstrap js -->
    <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
</body>
</html>
