<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/api/newGame" method="POST">
    <label for="game">Game:</label><input type="text" placeholder="New Game" name="game" />
    <br>
    <label for="track">Track:</label><input type="text" placeholder="Track name" name="track" />
    <br>
    <label for="driverInitial">Driver Initial:</label><input type="text" placeholder="AAA" name="driverInitial" />
    <br>
    <label for="car">Car:</label><input type="text" placeholder="equal performance" name="car" />
    <br>
    <label for="time">Time:</label><input type="text" placeholder="1:23.456" name="time" />
    <br>
    <input type="submit">
  </form>
</body>
</html>