<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GGST Frame Data</title>
</head>
<body>
    <h1>Data can be obtained by making a GET request to `/api/:characterName` with the names formatted as follows :</h1>

    <ul>
        <li>anji_mito</li>
        <li>axl_low</li>
        <li>baiken</li>
        <li>chipp_zanuff</li>
        <li>faust</li>
        <li>giovanna</li>
        <li>goldlewis_dickinson</li>
        <li>happy_chaos</li>
        <li>i-no</li>
        <li>jack-o</li>
        <li>ky_kiske</li>
        <li>leo</li>
        <li>may</li>
        <li>millia_rage</li>
        <li>nagoriyuki</li>
        <li>potemkin</li>
        <li>ramlethal_valentine</li>
        <li>sol_badguy</li>
        <li>testament</li>
        <li>zato-1</li>
    </ul>
    
</body>
</html>
