<%- include('partials/head.ejs') %>

<body class="preauth">

    <section class="card">
        <% if (locals.messages.errors) { %>
            <% messages.errors.forEach( el => { %>
                <div class="alert alert-danger"><%= el.msg %></div>
            <% }) %>    
        <% } %>
    
        <form action="/signup" method="POST" class="flex flex-col space-y-3">
            <h1 class="logo"><span class="text-accent"> - </span><span class="text-neutral"> - </span><a href="/">SuperDrip</a><span class="text-neutral"> - </span><span class="text-accent"> - </span></h1>
            <p>Sign Up: </p>
            <input type="text" class="showText placeholder-mid" name="userName" placeholder="User Name">
            <input type="email" class="showText placeholder-mid" name="email" placeholder="Email">
            <input type="password" class="showText placeholder-mid" name="password" placeholder="Password">
            <input type="password" class="showText placeholder-mid" name="confirmPassword" placeholder="Confirm Password">
            <input type="submit" class="blueBtn">
        </form>
    </section>

    <%- include('partials/footer.ejs') %>