.grid{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
a{
    color: white;
    font-size: 2rem;
    text-decoration: none;
}
body{
    background: no-repeat url('image/background.jpg') center/cover;
}

main{
    margin: 2rem;
}

h1{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

h2{
    align-self: center;
}

.box{
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-around;
}


header.grid, section.comments{
    background: rgb(60, 60, 60);
    color: white;
}

header{
    margin-bottom: 2rem;
    padding-bottom: 1rem;
}


li{
    list-style-type: none;
}

.comments{
    align-items: center;
    padding-top: 1rem;
}

.info{
    margin-top: 2rem;
}

.flex{
    display: flex;
}

.row{
    flex-direction: row;
}

.column{
    flex-direction: column;
}

img{
    width: 80%;
    margin-right: 1rem;
}
section.row.flex{
    width: 10%;
    justify-content: space-around;

}


div.row.flex{
    justify-content: center;
}


.uComments{
    margin-top: 2rem;
    text-align: center;
    padding-bottom: 1rem;
}

    .border{
    border-bottom: 2px solid black;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}


h2{
    font-size: 1.2rem;
    line-height: 2rem;

}


li{
    list-style-type: none;
}

nav ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

nav{
    width: 80%;
}