* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: firebrick;
}

.content-wrapper {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    width: 600px;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 3rem;
}

ul {
    list-style: none;
    
    margin-left: 50px;
}

.books {
    width: 500px;
    margin-top: 10px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.book-content {
    margin-left: 5px;
    margin-right: 5px;
    flex-grow: 2;
}

.fa-trash-can {
    margin-left: 20px;
    /* flex-grow: 2; */
    cursor: pointer;
}

.fa-thumbs-up{
    cursor: pointer;
    margin-right: 20px;
    margin-left: 5px;
}
.book-entry {
    margin-top: 10px;
}