* {
    box-sizing: border-box;
}

body {
    padding: 1em;
}

h1, h2 {
    color: rgb(31, 99, 209);
}

li {
  padding-top: .3em;
}

span {
  padding: 0 .2em;
}

hr {
  border: 1px solid lightgray;
}

.red {
  color: red;
}

input[type=text], 
textarea,
select {
  width: 100%;
  padding: .5em 1em;
  margin: 1em 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 100%;
  background-color: rgb(31, 99, 209);
  color: white;
  padding: .5em 1em;
  margin: 1em 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #99c4d1;
}

div {
  margin: 0 auto;
  width: 75%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 1em;
}
