/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    width: 100%;
}

* {
    box-sizing: border-box;
}

/* 
=========================================
BODY
=========================================
*/

.navBar {
    display: flex;
    justify-content: space-between;
    height: 50px;
    line-height: 50px;
    margin-top: 20px;
    padding: 0 24px;
}

.logo {
    font-size: 1.7rem;
}

.addPrio {
    display: flex;
    font-size: 1.5rem;
    gap: 24px;
    padding: 8px;
    margin-bottom: 16px;
}

.fa-plus-circle {
   transform: scale(1.3);
   cursor: pointer;
}

.wholeContainer {
    padding: 24px;
}

.popUpForm input,
.popUpForm textarea {
    border: 0;
    outline: 1px solid black;
    padding: 8px;
    width: 100%;
}

.popUpForm input[type=text] {
    height: 1.5rem;
}

.popUpForm textarea {
    height: 60px;
}

textarea {
    color: black;
    display: block;
    height: 120px;
    font-family: 'Lato', sans-serif;
    margin: 8px 0;
}

.submit {
    display: block;
    height: 1.5rem;
    margin: 0 auto;
    width: 128px;
}

.cardsCont {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 24px 0;
}

.top {
    font-size: 1.5rem;
    font-weight: bold;
    display: block;
    padding: 8px;
}

.tasks {
    padding: 0 8px;
    outline: 1px solid black;
    border-radius: 8px;
}

.tasks > * {
    margin: 8px 0;
}

.prioTitle {
    font-size: 1.3rem;
    font-weight: bold;
}

.prioBody {
    text-align: justify;
    line-height: 1.2rem;
}

.date {
    padding: 8px;
    width: fit-content;
    font-size: 0.7rem;
    background-color: rgb(204, 204, 204);
    border-radius: 4px;
}

.fa-calendar {
    margin-right: 8px;
}

.tasks button {
    padding: 4px;
}

.delete {
    margin: 0 8px;
}


