<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tapestry&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/public/reset.css">
    <link rel="stylesheet" href="/public/general.css">
    <link rel="stylesheet" href="/public/nav.css">
    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="/public/comment.css">
    <link rel="stylesheet" href="/public/post.css">
</head>
<body>
    <%- include('partials/header.ejs') %>
    <address>
        <div class="phonenumber__container">
            <div class="phonenumber__header">Phone number:</div>
            <div class="phonenumber">+1 (408)-250-9566</div>
        </div>
        <div class="discord__container">
            <div class="discord__header">Discord:</div>
            <div class="discord">@jaz#6833</div>
        </div>
        <div class="github__container">
            <div class="github__header">Github:</div>
            <div class="github">
                <a href="https://github.com/jasmine-9000">https://github.com/jasmine-9000</a>
            </div>
        </div>
    </address>
</body>
</html>