///
/// Transit by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Icons */

	ul.icons {
		cursor: default;
		list-style: none;
		padding-left: 0;

		li {
			display: inline-block;
			padding: 0 0.75rem 0 0;

			&:last-child {
				padding-right: 0;
			}
		}

		@include breakpoint('<=small') {
			li {
				padding: 0 1rem 0 0;

				a {
					font-size: 1.5rem;
				}
			}
		}
	}