<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>IN THE COUNTY COURT IN AND FOR SANTA ROSA COUNTY, FLORIDA<br>
        SMALL CLAIMS DIVISION<br><br>
        
        {$plaintiff_name}<br>
        Plaintiff(s)<br>
        Vs.						CASE NO: {$case_num}<br><br>
        
        {$defendant_name}<br>
        Defendant(s)<br><br>
        
        {$summons_prefix} SUMMONS/NOTICE TO APPEAR FOR PRE-TRIAL CONFERENCE<br>
        STATE OF FLORIDA - NOTICE TO PLAINTIFF(S) AND DEFENDANT(S):<br><br>
        
        
        {$servee_name}<br>
        {$servee_street}<br>
        {$servee_city}, {$servee_state} {$servee_zip}<br><br>
        
        ARE HEREBY NOTIFIED that you or your attorney are required to appear VIA ZOOM TELEPHONE OR VIDEO CONFERENCE, on _______________________, 20____ at _________: _________ a.m./p.m. CST for a PRE-TRIAL CONFERENCE before a Judge of this Court.<br><br>
         
        PLEASE DRESS APPROPRIATELY:  NO SHORTS, TANK TOPS, HALTER TOPS, OR FLIP FLOPS!<br><br>
        
        IMPORTANT--READ CAREFULLY:  THE CASE WILL NOT BE TRIED AT THAT TIME<br><br>
        
        DO NOT BRING WITNESSES   APPEAR IN PERSON OR BY ATTORNEY<br><br>
        
        The defendant(s) must appear in court on the date specified to avoid a Default Judgment.  The Plaintiff(s) must appear to avoid having the case dismissed for lack of prosecution.  A written MOTION or ANSWER to the court by the Plaintiff(s) or the Defendant(s) shall not excuse the personal appearance of a party or its attorney at the PRE-TRIAL CONFERENCE.  The date and time of the Pre-Trial Conference CANNOT be rescheduled without good cause and prior court approval.
        A corporation may be represented at any stage of the trial court proceedings by an officer of the corporation, or any employee authorized in writing by an officer of the corporation.  Written authorization must be brought to the Pre-Trial Conference.<br><br>
        
        The purpose of the Pre-Trial Conference is to record your appearance, to determine if you admit all or part of the claim, to enable the court to determine the nature of the case, and to set the case for Trial if the case cannot be resolved at the Pre-Trial Conference.  You or your attorney should be prepared to confer with the court and to briefly explain the nature of your dispute, state what efforts have been made to settle the dispute, exhibit any documents necessary to prove the case, state the names and addresses of your witnesses, stipulate to the facts that will require no proof and will expedite the trial, and estimate how long it will take to try the case.<br><br>
        
        If you admit the claim, but desire additional time to pay, you must come and state the circumstances to the Court.  The Court may or may not approve a payment plan and withhold Judgment or Execution or Levy.<br><br>
        
        RIGHT TO VENUE.  The law gives the person or company who has sued you the right to file in any one of several places as listed below.  However, if you have been sued in any place other than one of these places, you, as the Defendant(s), have the right to request that the case be moved to a proper location or venue.  A proper location or venue may be one of the following:  1) Where the contract was entered into;  2) If the suit  is on an unsecured promissory note, where the note is signed or where the maker resides;  3) If the suit is to recover property or to foreclose a lien, where the property is located;  4) Where the event giving rise to the suit occurred;  5) Where any one or more of the defendant(s) sued resides;  6) Any location agreed to in a contract;  7)  In an action for money due, if there is no agreement as to where suit may be filed, where payment is to be made.<br><br>
        
        
        If you, as the Defendant(s), believe the Plaintiff(s) has/have not sued in one of these correct places, you must appear on your court date and orally request a transfer, or you must file  a WRITTEN request for transfer in affidavit form (sworn to under oath) with the court seven (7) days prior to your first court date and send a copy to the Plaintiff(s) or Plaintiff(s=) attorney, if any.<br><br>
        
        A copy of the Statement of Claim shall be served with this summons.<br><br>
        
        If you desire to file any counterclaim or off-set to Plaintiff's said claim, it must be filed in this Court by you or your attorney in writing at least five (5) days prior to the above date.  You should also serve a copy to the Plaintiff(s), by mail.<br><br>
        
        
        Magistrate Michelle Inere is inviting you to a scheduled Zoom Meeting.<br><br>
        
        Meeting ID: 658 039 3323.  Enter the Magistrate’s ZOOM Meeting ID when prompted.<br>    
        You may join this meeting from a Computer, Smartphone, or Tablet. You will be prompted upon joining the meeting as to which device you want to use for audio. You may either select “Join with computer audio” to use the built-in microphone and speakers on your device, or you may select “phone call” and dial in on a separate telephone for audio.<br>
        If your video does not automatically turn on upon joining the meeting, you may need to click in the bottom left corner to “Start Video.”<br>
        Please use the link below to connect to the Zoom meeting. You may join the meeting anytime beforehand to test your speakers and microphone using the built-in test feature. Please be advised that this is a court event and will be digitally recorded.  All participants will be recorded from the time you log in until you exit.<br> 
        *Please use a quiet, well-lighted room for the Zoom hearing, with no distracting backgrounds.<br>
        *Please remember to mute your microphone when you are not speaking. <br>
        *Please connect to the Zoom meeting 5 minutes before the hearing begins. **<br>
        Join Zoom Meeting from Computer:<br>
        https://zoom.us/j/6580393323<br><br>
        
        Meeting ID: 658 039 3323<br>
        Dial-in from telephone<br>
                +1 312 626 6799 US (Primary)<br>
                +1 929 205 6099 US (Secondary)<br><br>
        
        The parties are required to have a Notary or other authorized person who can administer an oath in his/her presence on the date of the hearing, for those dialing-in only.<br><br>
        
        Sincerely,<br><br>
        
        Brittany Elliott<br>
        Administrative Assistant to<br>
        Magistrate Michelle Inere<br>
        850-981-5599<br>
        Brittany.Elliott@FLCourts1.gov<br><br><br><br>
        
        
        
        Dated at Milton, Santa Rosa County, Florida, on this ______day of ______ , 20_____.<br><br>
        
            DONALD C. SPENCER, Clerk of Courts and Comptroller<br><br>
        
            BY:  ______________________________________							Deputy Clerk of Santa Rosa County<br><br>
        
        If you are a person with a disability who needs any accommodation to participate in this proceeding, you are entitled, at no cost to you, to the provision of certain assistance. Please contact: Court Administration, ADA Liaison Santa Rosa County 6865 Caroline Street Milton, FL 32570 Phone (850) 623-3159 Fax (850) 983-0602 ADA.SantaRosa@flcourts1.gov at least 7 days before your scheduled court appearance, or immediately upon receiving this notification if the time before the scheduled appearance is less than 7 days; if you are hearing or voice impaired, call 711.<br><br>
        
        MATTER NO: 22-25446</p>
</body>
</html>