<h3>Edit Entry</h3>
<div class="row">
  <form action="/entries/{{entry._id}}" method="POST" class="col s12">
    <input type="hidden" name="_method" value="PUT">

    <div class="row">
      <div class="input-field">
        <select name="mood" id="mood">
          {{#select story.status}}
          <option value="poor" selected>Poor</option>
          <option value="moderate" selected>Moderate</option>
          <option value="excellent">Excellent</option>
          {{/select}}
        </select>
        <label for="mood">Mood</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field">
        <h5>Notes:</h5>
        <textarea name="body" id="body">{{entry.body}}</textarea>
      </div>
    </div>

    <div class="row">
      <input type="submit" value="Save" class="btn">
      <a href="/dashboard" class="btn orange">Cancel</a>
    </div>
  </form>
</div>

