///
/// Transit by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Header */

	#header {
		@include vendor('display', 'flex');
		@include vendor('justify-content', 'space-between');
		height: 3.5rem;
		line-height: 3.5rem;
		padding-left: 1.25rem;

		.logo {
			@include vendor('flex-grow', '0');
			@include vendor('flex-shrink', '1');
			display: block;
			height: inherit;
			line-height: inherit;
			color: _palette(fg-light);
			border-bottom: 0;

			strong {
				font-weight: _font(weight);
			}
		}

		nav {
			@include vendor('display', 'flex');
			@include vendor('flex-grow', '0');
			@include vendor('flex-shrink', '1');
			height: inherit;
			line-height: inherit;

			a {
				display: block;
				padding: 0 1.25rem;
				border-bottom: 0;
				outline: 0;

				&[href="#menu"] {
					position: relative;
					text-indent: 4rem;
					width: 4rem;
					height: inherit;
					overflow: hidden;

					&:before,
					&:after {
						@include vendor('transition', 'opacity #{_duration(transition)} ease-in-out');
						content: '';
						display: block;
						position: absolute;
						top: 0;
						left: 0;
						width: inherit;
						height: inherit;
						background-position: center;
						background-repeat: no-repeat;
						background-size: 1.75rem;
					}

					&:before {
						background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100" preserveAspectRatio="none"><style>line { stroke-width: 6px; stroke: #{_palette(border)}; }</style><line x1="10" y1="30" x2="90" y2="30" /><line x1="10" y1="50" x2="90" y2="50" /><line x1="10" y1="70" x2="90" y2="70" /></svg>');
						opacity: 1;
					}

					&:after {
						background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100" preserveAspectRatio="none"><style>line { stroke-width: 6px; stroke: #{_palette(highlight)}; }</style><line x1="10" y1="30" x2="90" y2="30" /><line x1="10" y1="50" x2="90" y2="50" /><line x1="10" y1="70" x2="90" y2="70" /></svg>');
						opacity: 0;
					}

					&:hover {
						&:before {
							opacity: 0;
						}

						&:after {
							opacity: 1;
						}
					}
				}
			}
		}

		@include breakpoint('<=small') {
			height: 3em;
			line-height: 3rem;
			padding-left: 1rem;

			nav {
				a {
					padding: 0 1rem;

					&[href="#menu"] {
						text-indent: 3.5rem;
						width: 3.5rem;
					}
				}
			}
		}
	}