h1.latest_header {
    font-size: 52px;
    font-weight: 700;
    padding: 25px 35px 25px 35px;
}
a.post_hyperlink,
a.post_hyperlink:visited,
a.post_hyperlink:hover {
    text-decoration: none;
    color: black;
}

.readmore {
    text-decoration:underline;
    color: blue;
}
address .phonenumber__container,
address .discord__container,
address .github__container {
    margin-left: 24px;
} 
address .phonenumber__container {
    margin-top: 20px;
    margin-bottom: 20px;
}
address .github__container {
    margin-top: 20px;
}

address .phonenumber__header,
address .discord__header,
address .github__header
{
 font-size: 20px;   
}
address .phonenumber,
address .discord,
address .github {
    font-size: 24px;
}

