
nav {
    background-color: var(--primary-color);
    height: 100px;;
    display:flex;
    align-items: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

nav ul.links__left,
nav ul.links__right
 {
    display:flex;
    flex-direction: row;
    align-items: center;
    column-gap: 50px;
}

nav ul.links__left li,
nav ul.links__right li,
nav ul.links__left li a,
nav ul.links__right li a,
nav ul.links__left li a:visited,
nav ul.links__right li a:visited
 {
    color: white;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
}
h1.owner_name {
    color: white;
    font-weight: 700;
    font-size: 32px;
    margin: 0 32px;
}