* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

/* Main ======================================================*/

/* 
font-family: 'Geostar Fill', cursive;
font-family: 'Sarpanch', sans-serif;
font-family: 'Syncopate', sans-serif;
   */

html{
    text-align: center;
    background: url('background01.png');
    background-attachment: fixed;
}
body{
    margin: 0 2%;
}
h1{
    font-family: 'Eagle Lake', sans-serif;
    color: white;
    margin: 5% 0%;
}
h1 + span{
    display: inline-block;
    color: white;
    margin-bottom: 2%;
}
h2{
    font-family: 'Syncopate', sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    width: 100%;
}
.container{
    display: flex;
    width: 100%;
    height: 100%;
}
ul{
    display: flex;
    width: 60%;
    flex-direction: column;
    margin: .3%;
    margin-left: 40%;
}
li{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    border: 3px solid lightgray;
    border-radius: 5px;
    background-color: rgb(207, 209, 209, .70);
    padding: 1%;
    margin-bottom: 2%;
}
li > h1 {
    display: none;
}
li > h2{
    margin-top: 1%;
    margin-bottom: 1%;
}
li > button{
    float: right;
}
#message{
    width: 100%;
    font-size: 1.2em;
    font-family: 'Sarpanch', sans-serif;
    margin-bottom: 3%;
}
li > a {
    width: 100%;
}
#likeNumber{
    display: block;
    margin-left: 87%;
    font-family: 'Sarpanch', sans-serif;
}
#likeButton{
    margin-left: 85%;
    font-size: 12px;
    font-family: 'Geostar Fill', sans-serif;
    letter-spacing: 1.5px;
    display: block;
    color: green;
    border: 2px solid green;
    width: 15%;
    padding: 2px;
    cursor: pointer;
}
#inputContainer{
    border: 3px solid gray;
    border-radius: 5px;
    width: 40%;
    height: 40%;
    margin: .5%;
    display: flex;
    flex-direction: column;
    padding: 2%;
    background-color: rgb(143, 141, 141, .50);
    position: fixed;
}
form{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}
form input{
    margin-bottom: 5%;
}
form input + textarea{
    height: 100px;
    margin-bottom: 2%;
}
form button{
    width: 40%;
}
iframe{
    width: 560px;
    height: 325px;
}
@media screen and (max-width: 575px) {
    #likeNumber{
        float: right;
        margin-left: 75%;
        font-family: 'Sarpanch', sans-serif;
    }
    #likeButton{
        margin-left: 75%;
        font-size: 10px;
        font-family: 'Geostar Fill', sans-serif;
        letter-spacing: 1.5px;
        display: block;
        color: green;
        border: 2px solid green;
        width: 25%;
        padding: 2px;
        cursor: pointer;
    }
    #inputContainer{
        border: 3px solid gray;
        border-radius: 5px;
        width: 80%;
        height: auto;
        margin-left: 8%;
        display: flex;
        flex-direction: column;
        padding: 2%;
        background-color: rgb(143, 141, 141, .50);
        position: fixed;
    }
    ul{
        display: flex;
        width: 80%;
        flex-direction: column;
        margin: .3%;
        margin-left: 10%;
        margin-top: 65%;
        padding: 0;
    }
    form input + textarea{
        height: 60px;
    }
    form button{
        width: 40%;
        margin-left: 30%;
    }
    iframe{
        width: 290px;
        height: 150px;
    }
}
@media screen and (max-width: 900px) {
    #likeButton{
        margin-left: 75%;
        font-size: 12px;
        font-family: 'Geostar Fill', sans-serif;
        letter-spacing: 1.5px;
        display: block;
        color: green;
        border: 2px solid green;
        width: 25%;
    }
    #inputContainer{
        height: auto;
    }
}

/* CSS */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 2%;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

/* CSS */
.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}
