  
body, html {
    height: 100%;
  }
  
  .bg {
    /* The image used */
    background-image: url("https://cdn.brigadegroup.com/properties/gallery/15428816525bf6817413f1b.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #mainBg{
      opacity: 0.9;
  }

  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }