html,
body {
    height: 100%;
}

html {
    font-size: 125%;
    line-height: 1.4;
    font-family: Helvetica;
}

body {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto 2fr;
    grid-template-areas:
        "header header header"
        "add-quotes update-quote delete-quote"
        "quotes quotes quotes";
    gap: 1rem;
    margin: 0;
    padding: 2rem;
    background-color: #ffffff;
    background-image: url('./img/background.jpg');
    background-attachment: fixed;
    background-size: cover;
}

[data-position="header"] {
    grid-area: header;
    text-align: center;
}

[data-position="add-quotes"] {
    grid-area: add-quotes;
}

[data-position="update-quotes"] {
    grid-area: update-quotes;
}

[data-position="delete-quotes"] {
    grid-area: delete-quotes;
}

[data-position="quotes"] {
    grid-area: quotes;
    overflow: scroll;
}

[data-position] {
    background-color: white;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

h1,
h2 {
    margin: 0;
}