* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: darkblue;
    font-family: 'Bitter', sans-serif;
}

h2 {
    padding: 10px;
    font-size: 2rem;
}

input {
    font-family: 'Bitter', sans-serif;
    margin: 2px;
    padding: 5px;
    border-radius: 5px;
    height: 20px;
    width: 100%;
}

textarea {
    font-family: 'Bitter', sans-serif;
    display: block;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
}

ul {
    list-style: none;
}

.todo-container {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    padding: 20px;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo {
    width: 400px;
}

.todo-header-button {
    color: white;
    border: none;
    cursor: pointer;
    margin: 5px;
    padding: 5px;
    background-color: limegreen;
    font-family: 'Bitter', sans-serif;
    border-radius: 5px;
}

.todo-list-item {
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.todo-list-item-content {
    font-size: .8rem;
    margin-left: 10px;
    margin-right: 10px;
}

.todo-list-item form {
    width: 100%;
    display: flex;
}

.todo-list-item input {
    flex-grow: 2;
    margin-right: 20px;
    border-radius: 5px;
}

.todo-list-item .confirm {
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    background-color: limegreen;
    cursor: pointer;
    padding: 5px;
    margin-left: 5px;
    max-height: 30px;
    font-family: 'Bitter', sans-serif;
    display: block;
}

.todo-list-item .cancel {
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    background-color: red;
    cursor: pointer;
    padding: 5px;
    margin-left: 5px;
    max-height: 30px;
    font-family: 'Bitter', sans-serif;
    display: block;
}

.todo-list-item .edit {
    color: limegreen;
    margin-right: 10px;
    cursor: pointer;
    text-decoration: none;
    margin-left: auto;
}

.todo-list-item .remove {
    color: red;
    margin-right: 5px;
    cursor: pointer;
    text-decoration: none;
}