<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Your Budget App</title>
    <link rel="stylesheet" href="/style.css">
  </head>

  <body>
    <h1 data-position="header">The Budget - By Brett Crafton</h1>

    <section data-position="add-quote">
        <h2>Add Item</h2>
  
        <form action="/quotes" method="POST">
          <input type="text" placeholder="Item Name" name="item" />
          <input type="number" placeholder="Amount" name="amount" />
          <input type="number" placeholder="Frequency" name="frequency" />
          <input type="text" placeholder="Period" name="period" />
          <button type="submit">Submit</button>
        </form>
      </section>

      <section data-position="update-quote">
        <div>
          <h2>Darth Vadar invades!</h2>
          <p>
            Replace first Yoda's quote with a quote written by Darth Vadar
          </p>
          <button id="update-button">Replace Yoda's quote</button>
        </div>
      </section>
      <section data-position="delete-quote">
        <div>
          <h2>Remove Darth Vadar!</h2>
          <p>
            Delete one Darth Vadar's quote. Does nothing if there are no more
            Darth Vadar's quote
          </p>
          <button id="delete-button">Delete Darth Vadar's quote</button>
        </div>
        <div id="message"></div>
      </section>
      <section data-position="quotes">
        <h2> Quotes </h2>

        <ul class="quotes">
        <!-- Loop through quotes -->
        <% for(var i = 0; i < quotes.length; i++) {%>
            <li class="quote">
            <!-- Output name from the iterated quote object -->
            <span><%= quotes[i].name %></span>:
            <!-- Output quote from the iterated quote object -->
            <span><%= quotes[i].quote %></span>
            </li>
        <% } %>
        </ul>
    </section>
    <script src="/main.js"></script>
  </body>
</html>