h1{
    color: whitesmoke;
    font-size: 3em;
    
}

.rappers {
    font-size: 2em;
}

#black{
    color: black;
    font-weight: 900;
}

body {
    width: 100%;
    align-items : center;
    height: 100%;
    color: white;
     

    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;

    /* Background image doesn't tile */
    background-repeat: no-repeat;

    /* Background image is fixed in the viewport so that it doesn't move when 
    the content's height is greater than the image's height */
    background-attachment: fixed;

    /* This is what makes the background image rescale based
    on the container's size */
    background-size: cover;

    /* Set a background color that will be displayed
    while the background image is loading */
    background-color: purple;
    overflow: hidden;

    /* Location of the image */
    background-image: url('waluigi.png') ;

    
}  

background-image{
    transform: scaleX(-1)
}