* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

form {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.unchange {
  color: green;
}

.change {
  color: orange;
}

form {
  border: 2px solid #94a7ae;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

form > * {
  margin: 10px;
  height: 30px;
}

form > input {
  width: 393px;
  padding-left: 10px;
  border: 1px solid #94a7ae;
  border-radius: 5px;
}

form > div {
  width: 400px;
}

form > textarea {
  width: 368px;
  height: 100px;
  border: 1px solid #94a7ae;
  border-radius: 5px;
  padding: 20px;
}

.options {
  display: flex;
}

.options > div {
  width: 50%;
  display: inline-block;
  margin-right: 20px;
  height: 30px;
}

span.label {
  padding-right: 10px;
  display: inline-block;
  height: 30px;
  border-radius: 5px;
}

select {
  width: 80px;
  height: 30px;
  border: 1px solid #94a7ae;
  border-radius: 5px;
}

.actions {
  display: flex;
  justify-content: space-between;
}

button {
  width: 100px;
  border-color: transparent;
  border-radius: 5px;
}

button[type=submit] {
  background-color: #0a62d0;
  color: #fff;
}

button[type=reset] {
  background-color: #94a7ae;
  color: #fff;
}

.title {
  font-weight: 700;
  font-size: 30px;
  color: #94a7ae;
  text-align: center;
}

.task-list {
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
}

.task-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 5px;
  border-bottom: 1px solid #fda403;
}

.task-item > * {
  padding-left: 10px;
}

.fullfilled {
  color: green;
}

.pending {
  color: orange;
}

.fa-trash {
  color: red;
}

.taskname {
  width: 150px;
  font-weight: 700;
}

.state {
  width: 70px;
  display: inline-block;
  padding: 0 10px;
}

.priority {
  width: 30px;
  display: inline-block;
  padding: 0 10px;
  margin-right: 30px;
}

.info {
  width: 98%;
  display: flex;
  justify-content: space-between;
}