/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
  }
  
  /******************************************
  /* LAYOUT
  /*******************************************/
  img{
    margin: 0 auto;
    height: 100vh;
    width: 50%;
    float: right;
  }
  
  
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/