<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <h1>Argentina World Cup 2022 Goals</h1>
    <h2>Players</h2>
    <ul>
        <% for (let i = 0; i < info.length; i++) {%>
            <li>
                <span><%= info[i].player %></span>
                <span><%= info[i].number %></span>
                <span><%= info[i].goals %></span>
                <i class="fa-solid fa-plus plus-one-goal"></i>
                <i class="fa-solid fa-trash-can"></i>
            </li>
        <% } %>
    </ul>

    <h2>Add a player!</h2>
    <form action="/newPlayer" method="POST">
        <input type="text" placeholder="name" name="player">
        <input type="text" placeholder="number" name="number">
        <button type="submit">SUBMIT</button>
    </form>

    <script src='/main.js'></script>
</body>
</html>