<section class="text-center px-5 d-flex justify-content-center my-5">
    <div class="w-75">
        <h2 class="mb-4 text-success">404: Page Not Found</h2>
        <p class="mb-5">Oops! We couldn't find the page you were looking for.</p>
        <img class="mb-5 d-none d-sm-block w-75" src="/undraw_server_down_s-4-lk.svg" alt="page not found"> 
    </div>
</section class="mb-5">
