<section class="text-center px-5 d-flex justify-content-center">
    <div class="w-75">
        <h2 class="mb-4">No plant Found</h2>
        <p class="mb-5">Oops! We couldn't find a plant that met your conditions. Try again with <a class="text-success" href="/plants/search">our search tool</a>. If you think that we are missing a plant, feel free to use our plant request form and we will get back to you ASAP.</p>
        <img class="mb-5 d-none d-sm-block w-75" src="/undraw_server_down_s-4-lk.svg" alt="plant not found"> 
    </div>
</section class="mb-5">
