
#cssmenu
{
    width:auto;
    display:block;
    text-align:center;
    font-family:Cormorant;
    line-height:1.2;
}
#cssmenu ul
{
    width:auto;
    display:block;
    font-size:0;
    text-align:center;
    color:#FFFFFF;
    background-color: #651d32;
    border: transparent;
    margin:0; 
    padding:0;
    list-style:none;
    position:relative;
    z-index:999999990;
    border-radius: 3px;
} 

#cssmenu li
{
    display:inline-block;
    position:relative;    
    font-size:0; 
    margin:0;
    padding:0;
}

/*Top level items
---------------------------------------*/

#cssmenu >ul>li>span, #cssmenu >ul>li>a 
{   
    font-size:22px;
    color:inherit;
    text-decoration:none;
    padding:20px 20px; 
    font-weight:400;
    text-transform:uppercase;
    letter-spacing:2px;   
    display:block;   
    position:relative;
    transition:all 0.3s;
}
#cssmenu li:hover > span, #cssmenu li:hover > a
{  
    color:#FFFFFF;
    background-color:#651d32;
}

/*Sub level items
---------------------------------------*/
#cssmenu .dropdown
{
    text-align:left;
    left:0;
    font-family:inherit;
    color: #FFFFFF;
    background-color:#743347;
    border:none;
    position:absolute;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    display:none;
    opacity:0;
    cursor:default;
}

#cssmenu .dropdown li {
    display: block;  
}

#cssmenu .dropdown li > span, #cssmenu .dropdown li > a, #cssmenu .clm a, #cssmenu .clm h3 
{
    font-size:18px;
    font-weight:400;
    font-family:inherit;
    margin:0;
    padding:12px 20px; 
    display:block;
    color:inherit;
    text-decoration:none;
}
#cssmenu .clm h3 {
    font-size:20px;
    font-weight:700;
}
#cssmenu .sub-item {
    background-color:#743347;
    position:relative;       
    transition:all 0.3s;
}

#cssmenu .dropdown li:hover > span, #cssmenu .dropdown li:hover > a
{

    color:#FFFFFF;
    background-color:#85384f;
}

#cssmenu .clm a:hover
{
    color:#FFFFFF;
    transition:color 0.2s;
}

#cssmenu .dropdown.right0 {left:auto;right:0;} 
#cssmenu .dropdown li > .dropdown.right0 {left:auto;right:100%;} 
       
#cssmenu li.full-width{
    position:static;
}
#cssmenu li.full-width .dropdown{
    width:100%;
    left:0;
    box-sizing:border-box;
}  

#cssmenu li:hover > .dropdown
{
    display:block;
    opacity:1;
    z-index:1;
}

#cssmenu .dropdown li > .dropdown
{
    left:100%; right:auto;
    top:0;
}

#cssmenu ul.dropdown
{
    min-width:220px; /* Sub level menu min width */
}

#cssmenu div.dropdown  {
    text-align:center;
}

/* each column */
#cssmenu .clm
{
    text-align:left;
    margin:20px;
    vertical-align:top;/*or middle*/
    width:auto;
    min-width:220px;
    display:inline-block;
    *display:inline;*zoom:1;
}

#cssmenu .clm a:hover
{
    color:#FFFFFF;
    text-decoration:underline;
}

/*-----------Arrows----------------*/
#cssmenu .arrow {
    color:inherit;
    border-style:solid; border-width:2px 2px 0 0; padding:4px; transform:rotate(135deg);margin-top:-8.5px;margin-left:4px;
    position:relative;
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align:middle;
    overflow:hidden;/*for IE6*/
}
        
#cssmenu .dropdown .arrow {
    transform:rotate(45deg);
    top:50%;margin-top:-6px;
    position:relative;top:auto;
} 

/*######## styles for mobile mode */

.menu-icon {
    display: none;
}

@media only screen and (max-width: 99999px) {

    .menu-icon {display:inline-block;}

    #cssmenu  {
        width:100%;
        max-width:600px;
        display:none;
        background-color:#651d32;
        border:1px solid rgba(0,0,0,0.2);
        box-sizing:border-box;
        z-index:999999990;
    }

    /*--begin mark1--*/

    #cssmenu  {
        position:fixed;top:0;bottom:0;left:0;right:0;height:100%!important;
        right:-130%;
        left:auto; box-shadow:-4px 0 18px rgba(0,0,0,0.3);
        transition:all 411ms cubic-bezier(.7, 0,1,.4);
    }

    #cssmenu.active {
        right:0;
        transition:all 411ms cubic-bezier(.16,.76,.45,1);
    }

    #mcmenu {z-index:1000000004;}
-fixed-bg {background:#000;z-index:1000000000;}
-fixed-bg.showing {display:block;opacity:0;}-fixed-bg.active {opacity:0.4;}
.menu-icon.active {position:fixed;top:12px;right:12px;z-index:1000000006;}

    /*--end mark1--*/

    #cssmenu ul  {
        background-color:transparent;
        transition:all 411ms ease;
        box-sizing:border-box;
        border:none;
        border-radius: 0;
    }

    #cssmenu .mobileHide {
        display:none;
    }

    #cssmenu li {
        text-align:center;
        display:block;
        position:static;
    }

    #cssmenu >ul>li>span, #cssmenu >ul>li>a 
    {       
        font-size:32px;
    }
    /* #cssmenu li:hover span, #cssmenu li:hover a {
     
        color:#FFFFFF;
        background-color:#651d32;
    }*/
}
/*----------- menu-icon ----------------*/
.menu-icon-wrapper {
    padding:5px;
    text-align:right;
}
.menu-icon {
    padding:9px;
    cursor: pointer;
    outline: none;
    background-color:#000000;
    border:1px solid transparent;
    border-radius:3px;
    transition: all 0.25s ease-out;
    user-select:none;
    box-sizing:content-box;
    font-size:0;
    position:relative;
}

.menu-icon.active{
    background-color:#000000;
}
.three-line{
  width: 22px;
  height: 20px;
  position: relative;
  display: inline-block;
  font-size: 0;
}
.three-line span{
  background-color:#FFFFFF;
  position: absolute;
  border-radius: 2px;
  transition: transform .5s ease-in-out;
  width:100%;
  height: 2px;
  left: 0;
  transform: rotate(0);
}
.three-line span:nth-child(1){
  top:0;
}
.three-line span:nth-child(2){
  top:9px;
  visibility:visible;
}
.three-line span:nth-child(3){
  bottom:0;
}
.menu-icon.active .three-line span:nth-child(1){
  transform: rotate(225deg);
  top: 9px;
}
.menu-icon.active .three-line span:nth-child(2){
  transform: rotate(180deg);
  visibility:hidden;
}
.menu-icon.active .three-line span:nth-child(3){
  transform: rotate(315deg);
  top: 9px;
}
/*End of styles for mobile mode ########*/

@keyframes topItemAnimation{
  from {opacity: 0;  transform:translate3d(0, 10vh, 0);}
  to {opacity: 1; transform:translate3d(0, 0, 0);}
}
#cssmenu li a {animation:none;}
#cssmenu.active li a { animation: topItemAnimation 0.9s cubic-bezier(.16,.84,.44,1) 0.9s backwards;}
#cssmenu.active li:nth-of-type(1) a { animation: topItemAnimation 0.9s cubic-bezier(.16,.84,.44,1) 0.15s backwards;}
#cssmenu.active li:nth-of-type(2) a { animation: topItemAnimation 0.9s cubic-bezier(.16,.84,.44,1) 0.3s backwards;}
#cssmenu.active li:nth-of-type(3) a { animation: topItemAnimation 0.9s cubic-bezier(.16,.84,.44,1) 0.45s backwards;}
#cssmenu.active li:nth-of-type(4) a { animation: topItemAnimation 0.9s cubic-bezier(.16,.84,.44,1) 0.6s backwards;}
#cssmenu.active li:nth-of-type(5) a { animation: topItemAnimation 0.9s cubic-bezier(.16,.84,.44,1) 0.75s backwards;}@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { #cssmenu.active li a{animation:none!important;}}
/*--Style the menu-icon--*/
.menu-icon {border-radius:50%;margin-right:12px;}
.menu-icon.active {background-color:transparent;}

#mcmenu .hasdd .top-item:before {
  content: '';
  position: absolute;
  width: 100%;
  top:0; bottom:0; height:auto;background-color: rgba(255,255,255,0.1);
  left: 0;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

#mcmenu .hasdd .top-item:hover:before {
  visibility: visible;
  transform: scaleX(1);
}
