<form class="row g-3 needs-validation" id="uploadImageForm" novalidate>
    <div class="col-md-12 mb-3">
        <label for="uploadImage" class="form-label">Upload image</label>
        <input name="image" type="file" id="uploadImage" class="form-control" >
    </div>
    <div class="text-danger" id="file-error"></div>
    <button class="btn btn-success" id="add-image">Upload image</button>
</div>
</form>
