<form id="add-note-form" class="row g-3 needs-validation modal-form" data-plantid="<%= plant._id %>" novalidate>
    <div class="form-control-custom">
    <label for="date-written" class="required" style="position:relative;" id="new-note-date-written">Date written:</label>
    <input type="date" class="form-control" id="date-written" name="date">
    <i class="bi bi-check-square-fill text-success"></i>
    <i class="bi bi-exclamation-circle-fill text-danger"></i>			          
    <small class="text-danger">Error message</small>
    </div>
    <div class="col-md-12 mb-3 form-control-custom" style="position:relative;">
        <label for="new-note-body" class="required">Note text:</label>
        <textarea class="form-control" id="new-note-body" rows="5" name="body" required></textarea>
        <i class="bi bi-check-square-fill text-success"></i>
        <i class="bi bi-exclamation-circle-fill text-danger"></i>			          
        <small class="text-danger">Error message</small>
    </div>
    <button class="btn btn-success mb-3" type="submit">Add Note</button>
</form>
