<form class="row g-3 needs-validation" novalidate>
    <p>This deletes the image. Are you sure?</p>
    <button class="btn btn-warning submit-delete-note-button" id="deleteImage">Delete image</button>
</div>
</form>
