<form class="row g-3 needs-validation" novalidate>
    <p>This deletes the location, and un-assigns it from any plants in that location. Are you sure?</p>
    <button class="btn btn-warning submit-delete-note-button" id="delete-location">Delete Location</button>
</div>
</form>
