<div class="row g-3 needs-validation" novalidate>
    <p>This deletes the plant and all associated records (including notes and images). Are you sure?</p>
    <button class="btn btn-warning" id="submit-delete-plant-button">Delete Plant</button>
</div>
</div>
