<form class="row g-3 needs-validation" novalidate>
    <label for="date-written">New date:</label>
    <input type="date" class="form-control" id="edited-date">
    <div class="col-md-12 mb-3">
        <label for="note-body">Note text:</label>
        <textarea class="form-control" id="note-body-edited" rows="5" required></textarea>
    </div>

    <button class="btn btn-success submit-edit-note-button" type="submit">Edit Note</button>
</div>
</form>
