<form class="row g-3 needs-validation" novalidate>
    <div class="col-md-12 mb-3">
        <label for="editLocation" class="form-label">Edit Location</label>
        <input name="editLocation" type="text" id="edit-location-input" class="form-control" placeholder="Updated location name">
    </div>

    <button class="btn btn-success" id="edit-location">Update Location</button>
</div>
</form>
