<form class="row g-3 needs-validation" id="editImageForm" novalidate>
    <div class="col-md-12 mb-3">
        <label for="editImageDate" class="form-label">Edit image date</label>
        <input type="date" id="editImageDate" class="form-control" >
    </div>
    <button class="btn btn-success" id="edit-image">Edit image date</button>
</div>
</form>
