.notice {
    color: green;
    background: lightgrey;
    font-size: 20px;
    border: 3px solid green;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.error {
    color: red;
    background: lightgrey;
    font-size: 20px;
    border: 3px solid red;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}