@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Fugaz+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.basics {
    @apply bg-dark text-neutral flex flex-col p-2 font-body min-h-screen;
}

.header {
    @apply w-full flex flex-row justify-between items-center p-2;
}

.welcome {
    @apply flex flex-row justify-center items-center p-2 bg-mid h-10 rounded-md;
}

.title {
    @apply text-xl font-bold tracking-widest uppercase;
}

.titleSmall {
    @apply text-lg font-semibold tracking-widest uppercase;
}

.footer {
    @apply w-full flex justify-center self-end mt-auto pb-5;
}

.preauth {
    @apply bg-mid flex flex-col justify-center items-center h-screen;
}

.card {
    @apply flex flex-col space-y-3 justify-center items-center bg-dark w-1/3 h-1/2 text-neutral rounded-lg drop-shadow-xl mt-auto;
}

.logo {
    @apply text-accent text-5xl font-name;
}

.showText {
    @apply text-dark p-1 focus:outline-none rounded-md bg-neutral;
}

.redBtn {
    @apply inline-flex items-center justify-center rounded-lg bg-accent hover:bg-neutral hover:text-dark w-24 h-8 cursor-pointer font-bold tracking-wider;
}

.blueBtn {
    @apply inline-flex items-center justify-center rounded-lg bg-mid hover:bg-neutral hover:text-dark w-24 h-8 cursor-pointer font-bold tracking-wider text-center align-middle;
}

.tdFormat1 {
    @apply p-2 rounded-tl-md rounded-bl-md;
}

.tdFormat2 {
    @apply p-2 rounded-tr-md rounded-br-md;
}

.spacing {
    @apply pr-2 pl-2 pt-1 pb-1;
}